<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Document-Source" data-toc-modified-id="Document-Source-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Document Source</a></span></li><li><span><a href="#Objectives" data-toc-modified-id="Objectives-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Tools-&amp;-Concepts" data-toc-modified-id="Tools-&amp;-Concepts-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Tools &amp; Concepts</a></span><ul class="toc-item"><li><span><a href="#Jupyter-Notebook" data-toc-modified-id="Jupyter-Notebook-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Jupyter Notebook</a></span><ul class="toc-item"><li><span><a href="#What-is-Jupyter-Notebook?" data-toc-modified-id="What-is-Jupyter-Notebook?-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>What is Jupyter Notebook?</a></span></li><li><span><a href="#Setup" data-toc-modified-id="Setup-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Setup</a></span><ul class="toc-item"><li><span><a href="#Displaying-results-in-the-notebook" data-toc-modified-id="Displaying-results-in-the-notebook-3.1.2.1"><span class="toc-item-num">3.1.2.1&nbsp;&nbsp;</span>Displaying results in the notebook</a></span></li><li><span><a href="#DIY-Helpers" data-toc-modified-id="DIY-Helpers-3.1.2.2"><span class="toc-item-num">3.1.2.2&nbsp;&nbsp;</span>DIY Helpers</a></span></li><li><span><a href="#Reading-Excel-files,-processing-data" data-toc-modified-id="Reading-Excel-files,-processing-data-3.1.2.3"><span class="toc-item-num">3.1.2.3&nbsp;&nbsp;</span>Reading Excel files, processing data</a></span></li></ul></li></ul></li><li><span><a href="#Python-Data-Structures" data-toc-modified-id="Python-Data-Structures-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Python Data Structures</a></span><ul class="toc-item"><li><span><a href="#Lists-&amp;-tuples" data-toc-modified-id="Lists-&amp;-tuples-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Lists &amp; tuples</a></span><ul class="toc-item"><li><span><a href="#Basic-definition-and-access" data-toc-modified-id="Basic-definition-and-access-3.2.1.1"><span class="toc-item-num">3.2.1.1&nbsp;&nbsp;</span>Basic definition and access</a></span></li><li><span><a href="#Slice-Sequences" data-toc-modified-id="Slice-Sequences-3.2.1.2"><span class="toc-item-num">3.2.1.2&nbsp;&nbsp;</span>Slice Sequences</a></span></li><li><span><a href="#Access-a-list-with-for" data-toc-modified-id="Access-a-list-with-for-3.2.1.3"><span class="toc-item-num">3.2.1.3&nbsp;&nbsp;</span>Access a <code>list</code> with <code>for</code></a></span></li><li><span><a href="#Define-a-list-with-for" data-toc-modified-id="Define-a-list-with-for-3.2.1.4"><span class="toc-item-num">3.2.1.4&nbsp;&nbsp;</span>Define a <code>list</code> with <code>for</code></a></span></li><li><span><a href="#Filter-a-list-with-if" data-toc-modified-id="Filter-a-list-with-if-3.2.1.5"><span class="toc-item-num">3.2.1.5&nbsp;&nbsp;</span>Filter a list with <code>if</code></a></span></li></ul></li><li><span><a href="#Sets" data-toc-modified-id="Sets-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Sets</a></span><ul class="toc-item"><li><span><a href="#Basic-definition-and-access" data-toc-modified-id="Basic-definition-and-access-3.2.2.1"><span class="toc-item-num">3.2.2.1&nbsp;&nbsp;</span>Basic definition and access</a></span></li><li><span><a href="#Set-Theory-Operations" data-toc-modified-id="Set-Theory-Operations-3.2.2.2"><span class="toc-item-num">3.2.2.2&nbsp;&nbsp;</span>Set Theory Operations</a></span></li></ul></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>Dictionaries</a></span><ul class="toc-item"><li><span><a href="#Basic-definition-and-access" data-toc-modified-id="Basic-definition-and-access-3.2.3.1"><span class="toc-item-num">3.2.3.1&nbsp;&nbsp;</span>Basic definition and access</a></span></li><li><span><a href="#Using-for-to-access-a-dict" data-toc-modified-id="Using-for-to-access-a-dict-3.2.3.2"><span class="toc-item-num">3.2.3.2&nbsp;&nbsp;</span>Using <code>for</code> to access a <code>dict</code></a></span></li><li><span><a href="#Using-for-to-define-a-dict" data-toc-modified-id="Using-for-to-define-a-dict-3.2.3.3"><span class="toc-item-num">3.2.3.3&nbsp;&nbsp;</span>Using <code>for</code> to define a <code>dict</code></a></span></li><li><span><a href="#defaultdict:-an-Agreeable-Dictionary" data-toc-modified-id="defaultdict:-an-Agreeable-Dictionary-3.2.3.4"><span class="toc-item-num">3.2.3.4&nbsp;&nbsp;</span><code>defaultdict</code>: an Agreeable Dictionary</a></span></li></ul></li></ul></li><li><span><a href="#pandas" data-toc-modified-id="pandas-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span><em>pandas</em></a></span></li></ul></li><li><span><a href="#The-Excel-Workbook:-2017-CAM-data-from-iPads.xlxs" data-toc-modified-id="The-Excel-Workbook:-2017-CAM-data-from-iPads.xlxs-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>The Excel Workbook: <code>2017 CAM data from iPads.xlxs</code></a></span><ul class="toc-item"><li><span><a href="#Opening-an-Excel-File-with-pandas" data-toc-modified-id="Opening-an-Excel-File-with-pandas-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Opening an Excel File with <em>pandas</em></a></span></li><li><span><a href="#Worksheets-in-the-File,-as-DataFrames" data-toc-modified-id="Worksheets-in-the-File,-as-DataFrames-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Worksheets in the File, as DataFrames</a></span></li><li><span><a href="#Goal:-Unifying-the-DataFrames" data-toc-modified-id="Goal:-Unifying-the-DataFrames-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Goal: Unifying the DataFrames</a></span><ul class="toc-item"><li><span><a href="#pandas-functions-for-merging-DataFrames" data-toc-modified-id="pandas-functions-for-merging-DataFrames-4.3.1"><span class="toc-item-num">4.3.1&nbsp;&nbsp;</span><em>pandas</em> functions for merging DataFrames</a></span></li><li><span><a href="#Column-Name-Difference" data-toc-modified-id="Column-Name-Difference-4.3.2"><span class="toc-item-num">4.3.2&nbsp;&nbsp;</span>Column Name Difference</a></span><ul class="toc-item"><li><span><a href="#Visualize-the-Difference" data-toc-modified-id="Visualize-the-Difference-4.3.2.1"><span class="toc-item-num">4.3.2.1&nbsp;&nbsp;</span>Visualize the Difference</a></span></li><li><span><a href="#How-shall-we-solve-the-name-mismatch?" data-toc-modified-id="How-shall-we-solve-the-name-mismatch?-4.3.2.2"><span class="toc-item-num">4.3.2.2&nbsp;&nbsp;</span>How shall we solve the name mismatch?</a></span></li><li><span><a href="#Where-should-we-rename-the-columns?" data-toc-modified-id="Where-should-we-rename-the-columns?-4.3.2.3"><span class="toc-item-num">4.3.2.3&nbsp;&nbsp;</span>Where should we rename the columns?</a></span></li><li><span><a href="#Renaming-axis-labels-(columns-or-rows)-with-pandas" data-toc-modified-id="Renaming-axis-labels-(columns-or-rows)-with-pandas-4.3.2.4"><span class="toc-item-num">4.3.2.4&nbsp;&nbsp;</span>Renaming axis labels (columns or rows) with <em>pandas</em></a></span></li></ul></li><li><span><a href="#Finally-Uniting-Our-(Properly-Labeled)-DataFrames" data-toc-modified-id="Finally-Uniting-Our-(Properly-Labeled)-DataFrames-4.3.3"><span class="toc-item-num">4.3.3&nbsp;&nbsp;</span>Finally Uniting Our (Properly Labeled) DataFrames</a></span></li></ul></li><li><span><a href="#Goal:-Map-the-Column-Relationships" data-toc-modified-id="Goal:-Map-the-Column-Relationships-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Goal: Map the Column Relationships</a></span><ul class="toc-item"><li><span><a href="#Indexing-by-Repeated-Words" data-toc-modified-id="Indexing-by-Repeated-Words-4.4.1"><span class="toc-item-num">4.4.1&nbsp;&nbsp;</span>Indexing by Repeated Words</a></span></li><li><span><a href="#Split-the-Column-Names" data-toc-modified-id="Split-the-Column-Names-4.4.2"><span class="toc-item-num">4.4.2&nbsp;&nbsp;</span>Split the Column Names</a></span><ul class="toc-item"><li><span><a href="#The-Separator-String" data-toc-modified-id="The-Separator-String-4.4.2.1"><span class="toc-item-num">4.4.2.1&nbsp;&nbsp;</span>The Separator String</a></span></li><li><span><a href="#Resulting-Gain:-Expression-for-Splitting-Column-Names-into-Words" data-toc-modified-id="Resulting-Gain:-Expression-for-Splitting-Column-Names-into-Words-4.4.2.2"><span class="toc-item-num">4.4.2.2&nbsp;&nbsp;</span>Resulting Gain: Expression for Splitting Column Names into Words</a></span></li></ul></li><li><span><a href="#Build-a-Tree-of-Words" data-toc-modified-id="Build-a-Tree-of-Words-4.4.3"><span class="toc-item-num">4.4.3&nbsp;&nbsp;</span>Build a Tree of Words</a></span><ul class="toc-item"><li><span><a href="#Steps" data-toc-modified-id="Steps-4.4.3.1"><span class="toc-item-num">4.4.3.1&nbsp;&nbsp;</span>Steps</a></span></li><li><span><a href="#Define-Function:-split_column_to_tree" data-toc-modified-id="Define-Function:-split_column_to_tree-4.4.3.2"><span class="toc-item-num">4.4.3.2&nbsp;&nbsp;</span>Define Function: <code>split_column_to_tree</code></a></span></li><li><span><a href="#Use-that-Function-with-for-to-Process-a-DataFrame" data-toc-modified-id="Use-that-Function-with-for-to-Process-a-DataFrame-4.4.3.3"><span class="toc-item-num">4.4.3.3&nbsp;&nbsp;</span>Use that Function with <code>for</code> to Process a DataFrame</a></span></li><li><span><a href="#Visualize-the-Tree" data-toc-modified-id="Visualize-the-Tree-4.4.3.4"><span class="toc-item-num">4.4.3.4&nbsp;&nbsp;</span>Visualize the Tree</a></span></li><li><span><a href="#Refer-to-the-Data" data-toc-modified-id="Refer-to-the-Data-4.4.3.5"><span class="toc-item-num">4.4.3.5&nbsp;&nbsp;</span>Refer to the Data</a></span></li><li><span><a href="#Resulting-Gain" data-toc-modified-id="Resulting-Gain-4.4.3.6"><span class="toc-item-num">4.4.3.6&nbsp;&nbsp;</span>Resulting Gain</a></span></li></ul></li><li><span><a href="#Setup-Filters-for-Columns" data-toc-modified-id="Setup-Filters-for-Columns-4.4.4"><span class="toc-item-num">4.4.4&nbsp;&nbsp;</span>Setup Filters for Columns</a></span><ul class="toc-item"><li><span><a href="#Define-Function:-has_data(node,-data_key=DATA)" data-toc-modified-id="Define-Function:-has_data(node,-data_key=DATA)-4.4.4.1"><span class="toc-item-num">4.4.4.1&nbsp;&nbsp;</span>Define Function: <code>has_data(node, data_key=DATA)</code></a></span></li><li><span><a href="#Define-Function:-get_child_data_nodes(node)" data-toc-modified-id="Define-Function:-get_child_data_nodes(node)-4.4.4.2"><span class="toc-item-num">4.4.4.2&nbsp;&nbsp;</span>Define Function: <code>get_child_data_nodes(node)</code></a></span></li><li><span><a href="#Define-Function:-get_grandchild_nodes(node)" data-toc-modified-id="Define-Function:-get_grandchild_nodes(node)-4.4.4.3"><span class="toc-item-num">4.4.4.3&nbsp;&nbsp;</span>Define Function: <code>get_grandchild_nodes(node)</code></a></span></li></ul></li><li><span><a href="#Find-Columns-in-a-Section" data-toc-modified-id="Find-Columns-in-a-Section-4.4.5"><span class="toc-item-num">4.4.5&nbsp;&nbsp;</span>Find Columns in a Section</a></span><ul class="toc-item"><li><span><a href="#Define-Function:-get_child_column_data(node)" data-toc-modified-id="Define-Function:-get_child_column_data(node)-4.4.5.1"><span class="toc-item-num">4.4.5.1&nbsp;&nbsp;</span>Define Function: <code>get_child_column_data(node)</code></a></span></li><li><span><a href="#Improve-visualize_tree" data-toc-modified-id="Improve-visualize_tree-4.4.5.2"><span class="toc-item-num">4.4.5.2&nbsp;&nbsp;</span>Improve <code>visualize_tree</code></a></span></li><li><span><a href="#Define-Function:-get_descendant_column_data(node)" data-toc-modified-id="Define-Function:-get_descendant_column_data(node)-4.4.5.3"><span class="toc-item-num">4.4.5.3&nbsp;&nbsp;</span>Define Function: <code>get_descendant_column_data(node)</code></a></span></li><li><span><a href="#Alternative-Function:-recursive_get_column_data(node)" data-toc-modified-id="Alternative-Function:-recursive_get_column_data(node)-4.4.5.4"><span class="toc-item-num">4.4.5.4&nbsp;&nbsp;</span>Alternative Function: <code>recursive_get_column_data(node)</code></a></span></li><li><span><a href="#Improve-visualize_tree" data-toc-modified-id="Improve-visualize_tree-4.4.5.5"><span class="toc-item-num">4.4.5.5&nbsp;&nbsp;</span>Improve <code>visualize_tree</code></a></span></li><li><span><a href="#View-a-DataFrame-Section" data-toc-modified-id="View-a-DataFrame-Section-4.4.5.6"><span class="toc-item-num">4.4.5.6&nbsp;&nbsp;</span>View a DataFrame Section</a></span></li><li><span><a href="#Define-Function:-get_child_frame(node,-frame=None)" data-toc-modified-id="Define-Function:-get_child_frame(node,-frame=None)-4.4.5.7"><span class="toc-item-num">4.4.5.7&nbsp;&nbsp;</span>Define Function: <code>get_child_frame(node, frame=None)</code></a></span></li><li><span><a href="#Define-Functions:-get_descendant_frame(node,-frame=None)" data-toc-modified-id="Define-Functions:-get_descendant_frame(node,-frame=None)-4.4.5.8"><span class="toc-item-num">4.4.5.8&nbsp;&nbsp;</span>Define Functions: <code>get_descendant_frame(node, frame=None)</code></a></span></li></ul></li><li><span><a href="#Find-Rows-in-a-Section" data-toc-modified-id="Find-Rows-in-a-Section-4.4.6"><span class="toc-item-num">4.4.6&nbsp;&nbsp;</span>Find Rows in a Section</a></span><ul class="toc-item"><li><span><a href="#Drop-Missing-Values-from-a-Series" data-toc-modified-id="Drop-Missing-Values-from-a-Series-4.4.6.1"><span class="toc-item-num">4.4.6.1&nbsp;&nbsp;</span>Drop Missing Values from a Series</a></span></li><li><span><a href="#Filter-Rows-by-Condition" data-toc-modified-id="Filter-Rows-by-Condition-4.4.6.2"><span class="toc-item-num">4.4.6.2&nbsp;&nbsp;</span>Filter Rows by Condition</a></span></li></ul></li></ul></li><li><span><a href="#Goal:-Transform-Data-for-Target" data-toc-modified-id="Goal:-Transform-Data-for-Target-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Goal: Transform Data for Target</a></span><ul class="toc-item"><li><span><a href="#Overview-of-Transformation-Steps" data-toc-modified-id="Overview-of-Transformation-Steps-4.5.1"><span class="toc-item-num">4.5.1&nbsp;&nbsp;</span>Overview of Transformation Steps</a></span></li><li><span><a href="#Define-the-Target-Requirements" data-toc-modified-id="Define-the-Target-Requirements-4.5.2"><span class="toc-item-num">4.5.2&nbsp;&nbsp;</span>Define the Target Requirements</a></span></li><li><span><a href="#Analyze-Section-Structure" data-toc-modified-id="Analyze-Section-Structure-4.5.3"><span class="toc-item-num">4.5.3&nbsp;&nbsp;</span>Analyze Section Structure</a></span><ul class="toc-item"><li><span><a href="#Define-Function:-summarize_node(node)" data-toc-modified-id="Define-Function:-summarize_node(node)-4.5.3.1"><span class="toc-item-num">4.5.3.1&nbsp;&nbsp;</span>Define Function: <code>summarize_node(node)</code></a></span></li><li><span><a href="#Analytical-Results" data-toc-modified-id="Analytical-Results-4.5.3.2"><span class="toc-item-num">4.5.3.2&nbsp;&nbsp;</span>Analytical Results</a></span></li></ul></li><li><span><a href="#Transformations" data-toc-modified-id="Transformations-4.5.4"><span class="toc-item-num">4.5.4&nbsp;&nbsp;</span>Transformations</a></span><ul class="toc-item"><li><span><a href="#Proposed-Transformations-&amp;-Augmentations" data-toc-modified-id="Proposed-Transformations-&amp;-Augmentations-4.5.4.1"><span class="toc-item-num">4.5.4.1&nbsp;&nbsp;</span>Proposed Transformations &amp; Augmentations</a></span></li><li><span><a href="#Proposed-Calculations" data-toc-modified-id="Proposed-Calculations-4.5.4.2"><span class="toc-item-num">4.5.4.2&nbsp;&nbsp;</span>Proposed Calculations</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Appendix:-Source-App-Data-Structure" data-toc-modified-id="Appendix:-Source-App-Data-Structure-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Appendix: Source App Data Structure</a></span><ul class="toc-item"><li><span><a href="#Section:-fields" data-toc-modified-id="Section:-fields-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Section: <code>fields</code></a></span><ul class="toc-item"><li><span><a href="#Relationship" data-toc-modified-id="Relationship-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Relationship</a></span></li><li><span><a href="#Subsection-fields-&gt;-client" data-toc-modified-id="Subsection-fields->-client-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Subsection <code>fields</code> &gt; <code>client</code></a></span><ul class="toc-item"><li><span><a href="#Relationship" data-toc-modified-id="Relationship-5.1.2.1"><span class="toc-item-num">5.1.2.1&nbsp;&nbsp;</span>Relationship</a></span></li></ul></li><li><span><a href="#Subsection-fields-&gt;-oSets" data-toc-modified-id="Subsection-fields->-oSets-5.1.3"><span class="toc-item-num">5.1.3&nbsp;&nbsp;</span>Subsection <code>fields</code> &gt; <code>oSets</code></a></span><ul class="toc-item"><li><span><a href="#Relationship" data-toc-modified-id="Relationship-5.1.3.1"><span class="toc-item-num">5.1.3.1&nbsp;&nbsp;</span>Relationship</a></span></li><li><span><a href="#Information" data-toc-modified-id="Information-5.1.3.2"><span class="toc-item-num">5.1.3.2&nbsp;&nbsp;</span>Information</a></span></li></ul></li><li><span><a href="#Subsection-fields-&gt;-oSets-&gt;-oPoints" data-toc-modified-id="Subsection-fields->-oSets->-oPoints-5.1.4"><span class="toc-item-num">5.1.4&nbsp;&nbsp;</span>Subsection <code>fields</code> &gt; <code>oSets</code> &gt; <code>oPoints</code></a></span><ul class="toc-item"><li><span><a href="#Relationship" data-toc-modified-id="Relationship-5.1.4.1"><span class="toc-item-num">5.1.4.1&nbsp;&nbsp;</span>Relationship</a></span></li><li><span><a href="#Subsection-fields-&gt;-oSets-&gt;-oPoints-&gt;-location" data-toc-modified-id="Subsection-fields->-oSets->-oPoints->-location-5.1.4.2"><span class="toc-item-num">5.1.4.2&nbsp;&nbsp;</span>Subsection <code>fields</code> &gt; <code>oSets</code> &gt; <code>oPoints</code> &gt; <code>location</code></a></span></li><li><span><a href="#Subsection-fields-&gt;-oSets-&gt;-oPoints-&gt;-observations" data-toc-modified-id="Subsection-fields->-oSets->-oPoints->-observations-5.1.4.3"><span class="toc-item-num">5.1.4.3&nbsp;&nbsp;</span>Subsection <code>fields</code> &gt; <code>oSets</code> &gt; <code>oPoints</code> &gt; <code>observations</code></a></span></li></ul></li></ul></li><li><span><a href="#Section:-clients" data-toc-modified-id="Section:-clients-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Section: <code>clients</code></a></span><ul class="toc-item"><li><span><a href="#Relationship" data-toc-modified-id="Relationship-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>Relationship</a></span></li><li><span><a href="#Information" data-toc-modified-id="Information-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span>Information</a></span></li></ul></li><li><span><a href="#Section:-observers" data-toc-modified-id="Section:-observers-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Section: <code>observers</code></a></span><ul class="toc-item"><li><span><a href="#Relationship" data-toc-modified-id="Relationship-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>Relationship</a></span></li><li><span><a href="#Information" data-toc-modified-id="Information-5.3.2"><span class="toc-item-num">5.3.2&nbsp;&nbsp;</span>Information</a></span></li></ul></li></ul></li></ul></div>

# Document Source

* You may view or download this notebook on [NBViewer], though it won't be interactive.
* You may interact with this notebook on [mybinder.org], though changes won't be saved for very long.
* The [source] for this notebook is online at GitHub.com, where it can be viewed or downloaded. Instructions on how to use this notebook on your own computer are in the [README].

[![Binder](https://mybinder.org/badge.svg)][mybinder.org]

[README]: https://github.com/devvyn/aafc-field-data/blob/master/README.md
[source]: https://github.com/devvyn/aafc-field-data/blob/master/notebook/Using%20Python%20%26%20pandas%20to%20Analyze%20an%20Excel%20File.ipynb
[mybinder.org]: https://mybinder.org/v2/gh/devvyn/aafc-field-data/master?filepath=notebook%2FUsing%20Python%20%26%20pandas%20to%20Analyze%20an%20Excel%20File.ipynb
[NBViewer]: https://nbviewer.jupyter.org/github/devvyn/aafc-field-data/blob/master/notebook/Using%20Python%20%26%20pandas%20to%20Analyze%20an%20Excel%20File.ipynb

# Objectives

* Get to know our analytical tools:
  - Jupyter Notebook - interactive document editor
  - Python - expressive programming language
  - _pandas_ - data science framework

* Merge two Excel worksheets into one DataFrame

* Query the data

* Export the query results to Excel

* Document all steps, to ensure these results are reproducible

# Tools & Concepts

## Jupyter Notebook

- This document was written in a web browser connected to a Jupyter Notebook server.
- All the code samples shown were actually run on the server and the output saved in the document.

### What is Jupyter Notebook?

Description from [jupyter.org]:

> The Jupyter Notebook is an open-source web application that allows you
> to create and share documents that contain live code, equations,
> visualizations and narrative text. Uses include: data cleaning and
> transformation, numerical simulation, statistical modeling, data
> visualization, machine learning, and much more.

[![jupyterpreview]][Try Jupyter]

You can [try Jupyter now][Try Jupyter], to get a feel for it. Various
languages are available, including Python, R, and Julia.

[jupyter.org]: https://jupyter.org/
[jupyterpreview]: https://raw.githubusercontent.com/devvyn/aafc-field-data/master/docs/static/jupyterpreview.png "Jupyter Notebook web page screen shots"
[Try Jupyter]: https://jupyter.org/try

Learn more about using Jupyter Notebook with this file at the [GitHub project] page for this notebook.

[GitHub project]: https://github.com/devvyn/aafc-field-data/

### Setup

To work with the source data, we need to be able to:

* open an Excel file
* display results of intermediate processing in the notebook
* save results to an Excel file

Most functions to accomplish our goals have been published already. We only need to import them.

#### Displaying results in the notebook

You can use the regular [`print()`] function in Python, but you'll always get plain text output. [`display()`] can do plain text as well as HTML, images, audio, etc.

I found I didn't need to import the [`display()`] method on new versions of Jupyter Notebook, but since the display function for isn't always imported by default in some implementations, and I also want to use `IPython.core.display.HTML()`:

[`print()`]: https://docs.python.org/3/library/functions.html#print 
[`display()`]: http://ipython.readthedocs.io/en/stable/api/generated/IPython.display.html

In [22]:
from IPython.core.display import *

#### DIY Helpers

Here are simple helpers to make headings and other embellishments easy. There are probably libraries already to make HTML tags, but this should suffice, without importing a large library. In general, these methods are unnecessary, but I'll be using them later on in this document to make code output more understandable.

In [23]:
def html_wrap(content, element="span", attributes_str=None):
    """ Convenience method for wrapping any string in any HTML tag. """
    if attributes_str:
        element_open = f"{element} {attributes_str}"
    else:
        element_open = element
    return f"<{element_open}>{content}</{element}>"


def make_heading(content, level=5):
    """ Convenience method for wrapping any string in an HTML header tag. """
    element = f"h{level}"
    return html_wrap(content, element)


def heading(*args, **kwargs):
    """ Call IPython.core.display.HTML on the results of the make_heading
    function, so users don't have to repeatedly do `HTML(heading(…))` """
    return HTML(make_heading(*args, **kwargs))

#### Reading Excel files, processing data

[_pandas_] is really good with columnar data, such as the kind of spreadsheets Excel works with. In fact, [_pandas_] has the ability to read and write Excel files, as long as the [`xlrd`] package is installed in Python.

The Jupyter server I used for writing this notebook already has [_pandas_] and [`xlrd`], but if you need to install them, you can run this command in a Jupyter Notebook cell, like so:

[_pandas_]: https://pandas.pydata.org
[`xlrd`]: https://xlrd.readthedocs.io/en/latest/

In [24]:
# Install xlrd to the Python environment, if it's not already installed.
!pip install xlrd pandas

Requirement already satisfied: xlrd in /srv/venv/lib/python3.6/site-packages
Requirement already satisfied: pandas in /srv/venv/lib/python3.6/site-packages
Requirement already satisfied: python-dateutil>=2 in /srv/venv/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: numpy>=1.9.0 in /srv/venv/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in /srv/venv/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /srv/venv/lib/python3.6/site-packages (from python-dateutil>=2->pandas)

Depending on how your Jupyter host is deployed, you may be able to add [`xlrd`] and [`pandas`][_pandas_] to [`requirements.txt`] or [`environment.yml`], as appropriate for your configuration. I [configured] my Jupyter server for use with [repo2docker]. In particular, I used [`requirements.txt`] and [`postBuild`], because even though [Conda] is usually better than [`pip`] at enabling Jupyter extensions, the installer would hang a lot, wasting my time, whenever I used [`environment.yml`].

[_pandas_]: https://pandas.pydata.org
[`xlrd`]: https://xlrd.readthedocs.io/en/latest/
[repo2docker]: http://repo2docker.readthedocs.io/en/latest/index.html
[configured]: http://repo2docker.readthedocs.io/en/latest/usage.html#locating-and-composing-configuration-files
[`requirements.txt`]: http://repo2docker.readthedocs.io/en/latest/usage.html#requirements-txt
[`postBuild`]: http://repo2docker.readthedocs.io/en/latest/usage.html#postbuild
[`environment.yml`]: http://repo2docker.readthedocs.io/en/latest/usage.html#environment-yml
[Conda]: https://conda.io/docs/
[`pip`]: https://pip.pypa.io/en/stable/user_guide/

In [25]:
import pandas

If you prefer, you can install this from the regular command line shell on your Jupyter host by running the `pip` command without the exclamation mark.

## Python Data Structures

- list
- tuple
- slicing
- expressions:
  - for … in
  - if
- set
- dict
- defaultdict

### Lists & tuples

A [`list`] in Python is simply a sequence of objects, which can be numbers, text, or anything else. It uses square brackets.

```python
> my_list = [1, 20, 4004]
> my_list[2] = 1001
> my_list[2]
1001
```

[`list`]: https://docs.python.org/3/library/stdtypes.html#list

A [`tuple`] is almost identical to a `list`, except it can't be edited after it's defined. You define it using round parentheses, instead of square brackets.

```python
> my_tuple = (1, 20, 4004)
> my_tuple[2] = 1001
TypeError: 'tuple' object does not support item assignment
> my_tuple[2]
4004
```

[`tuple`]: https://docs.python.org/3/library/stdtypes.html#tuples

#### Basic definition and access

##### Define a tuple or list:

In [26]:
my_list = [1, 2, 3, "four"]

a_tiny_list = [8]

In [27]:
my_tuple = (1, 2, 3, "four", ("nested 1", "nested 2", a_tiny_list), 30, 0)

##### Nested tuples & lists

In [28]:
another_list = [my_list, 5, 6, 7, my_tuple]

In [29]:
another_list

[[1, 2, 3, 'four'],
 5,
 6,
 7,
 (1, 2, 3, 'four', ('nested 1', 'nested 2', [8]), 30, 0)]

##### Access items in a `list` or `tuple`:

There's an "item zero" because 0 is the origin, just like in Cartesian coordinates.

In [30]:
my_list[0]

1

In [31]:
my_tuple[0]

1

The index sequence continues as you might expect:

In [32]:
my_list[1]

2

In [33]:
my_list[2]

3

In [34]:
my_list[3]

'four'

If you attempt to access a non existent item by using an index that's out of range, you'll receive an error.

In [35]:
my_list[4]

IndexError: list index out of range

You can, however, use negative numbers! Negative numbers are assumed to be relative to the upper boundary of the range. -1 refers to the _last_ item, -2 to the _second last_, and so on.

In [36]:
my_list[-1]

'four'

In [37]:
my_tuple[-2]

30

##### Adding items to a list:

In [38]:
a_tiny_list

[8]

In [39]:
a_tiny_list.append("another item")

In [40]:
a_tiny_list

[8, 'another item']

#### Slice Sequences

If you want to choose a portion of a list, you can use the colon character to separate the start and end index numbers you want to use.

In [41]:
my_list[0:2]  # 0, 1 but not 2

[1, 2]

In [42]:
my_tuple[5:7]  # 5, 6 but not 7

(30, 0)

You can omit the first or last number in your slice to use the natural upper or lower boundary:

In [43]:
my_list[:2]  # until just before 2

[1, 2]

In [44]:
my_tuple[5:]  # 5 and after

(30, 0)

#### Access a `list` with `for`

In [45]:
for item in my_list:
    print(item)

1
2
3
four

In [46]:
for item in another_list:
    print(item)

[1, 2, 3, 'four']
5
6
7
(1, 2, 3, 'four', ('nested 1', 'nested 2', [8, 'another item']), 30, 0)

####  Define a `list` with `for`

Evaluate an expression based on every item in a list:

In [47]:
my_new_list = [f"I have {item}!"
               for item in my_list]
my_new_list

['I have 1!', 'I have 2!', 'I have 3!', 'I have four!']

#### Filter a list with `if`

In [48]:
my_filtered_list = [item for item in my_list 
                    if item == "four" or item > 2]
my_filtered_list

[3, 'four']

### Sets

A [`set`] in Python in similar to a list, except there is no order of the items. Like a list, a set can be changed after it's defined.

[`set`]: https://docs.python.org/3/library/stdtypes.html#set

#### Basic definition and access

In [49]:
my_set = {12, 24, 48, 96}

In [50]:
my_set

{12, 24, 48, 96}

In [51]:
my_set.add(96 * 2)

In [52]:
my_set

{12, 24, 48, 96, 192}

##### Make a set from an iterable, such as a list or tuple

In [53]:
my_other_list = [0, 25, 48]

In [54]:
another_set = set(my_other_list)
another_set

{0, 25, 48}

#### Set Theory Operations

Because Python is explicitly treating [`set`] objects as the kind of sets discussed in [set theory], you can do operations on them. 

[set theory]: https://en.wikipedia.org/wiki/Set_theory
[`set`]: https://docs.python.org/3/library/stdtypes.html#set

##### Difference / Exclusion

In [55]:
my_set = {12, 24, 48, 96, 192}
another_set = {0, 25, 48}

In [56]:
my_set - another_set

{12, 24, 96, 192}

In [57]:
another_set - my_set

{0, 25}

##### Union & Intersection

In [58]:
my_set = {12, 24, 48, 96, 192}
another_set = {0, 25, 48}

In [59]:
my_set | another_set

{0, 12, 24, 25, 48, 96, 192}

In [60]:
my_set & another_set

{48}

##### Symmetric Difference

In [61]:
my_set = {12, 24, 48, 96, 192}
another_set = {0, 25, 48}

In [62]:
my_set ^ another_set

{0, 12, 24, 25, 96, 192}

In [63]:
set.symmetric_difference(my_set, another_set)

{0, 12, 24, 25, 96, 192}

### Dictionaries

Dictionaries in Python are just a collection of named things. The things can be another dictionary, a string, a number, or whatver. Even the names of the things don't necessarily have to be words—they can be numbers, for example.

#### Basic definition and access

##### Define a dictionary:

In [64]:
my_dictionary = {
    'one': 1,
    2: 'two',
    "green": "I like colour green.",
    "another dictionary": {"more stuff": 1024,
                           'even more stuff': 2048},
    "a list": my_list
}

##### Access stored values:

In [65]:
my_dictionary["one"]

1

In [66]:
my_dictionary[2]

'two'

In [67]:
my_dictionary["another dictionary"]["even more stuff"]

2048

Note that any attempt to use a non-existant key results in a Python exception called a `KeyError`. This is helpful if you make a human error, or unexpectedly find keys missing. (There _are_ ways around it.)

In [68]:
my_dictionary["some key that doesn't exist"]

KeyError: "some key that doesn't exist"

##### Assign values to existing keys or new keys:

In [69]:
my_dictionary["two"] = my_dictionary[2]
my_dictionary[2] = "fourteen"

In [70]:
my_dictionary["some key that didn't exist before"] = "Some value that didn't exist before"

In [71]:
my_dictionary.keys()

dict_keys(['one', 2, 'green', 'another dictionary', 'a list', 'two', "some key that didn't exist before"])

#### Using `for` to access a `dict`

##### Dictionary iterables

Python's `for` statements are handy for doing something to each item in a collection. Dictionaries are a type of collection, but since they have keys and values, you need to specify which you want. To address this, there are three handy methods that all dictionaries have:

- [`keys()`] - Only the key names
- [`values()`] - Only the values
- [`items()`] - Pairs of keys and values

[`keys()`]: https://docs.python.org/3/library/stdtypes.html#dict.keys
[`values()`]: https://docs.python.org/3/library/stdtypes.html#dict.values
[`items()`]: https://docs.python.org/3/library/stdtypes.html#dict.items

##### `keys()`

In [72]:
for key in my_dictionary.keys():
    display(key)

'one'

2

'green'

'another dictionary'

'a list'

'two'

"some key that didn't exist before"

##### `values()`

In [73]:
for value in my_dictionary.values():
    display(value)

1

'fourteen'

'I like colour green.'

{'even more stuff': 2048, 'more stuff': 1024}

[1, 2, 3, 'four']

'two'

"Some value that didn't exist before"

##### `items()`

In [74]:
for item in my_dictionary.items():
    display(item)

('one', 1)

(2, 'fourteen')

('green', 'I like colour green.')

('another dictionary', {'even more stuff': 2048, 'more stuff': 1024})

('a list', [1, 2, 3, 'four'])

('two', 'two')

("some key that didn't exist before", "Some value that didn't exist before")

The "item" returned by `items()` is always a tuple of two values. You can name them anything you want, but here's the gist of the idea:

`(key, value)`

In [75]:
my_dictionary = {
    2: 'two',
    "another dictionary": {"more stuff": 1024,
                           'even more stuff': 2048},
    "a list": my_list
}
for key, value in my_dictionary.items():
    print(f"Key: {key}\n"
          f"Value: {value}\n")

Key: 2
Value: two

Key: another dictionary
Value: {'more stuff': 1024, 'even more stuff': 2048}

Key: a list
Value: [1, 2, 3, 'four']

#### Using `for` to define a `dict`

With a list of items, it's often useful to make a dictionary with keys or values based those items.

For example, let's say we have this filtered list expression:

In [76]:
[item + 100
 for item in my_list if item != "four"]

[101, 102, 103]

The syntax for dictionary creation with `for` is almost the same as that of lists, but like in standard dictionary definitions, you'd use `key: value` for the assignment. You can use expressions to transform the keys as well as the values, if you want.

In [77]:
{f"Key #{item}": item + 100
 for item in my_list if item != "four"}

{'Key #1': 101, 'Key #2': 102, 'Key #3': 103}

This is the same as using the regular assignment syntax in a regular `for` loop:

In [78]:
# Equivalent to:
# {f"Key #{item}": item + 100
#  for item in my_list if item != "four"}
my_new_dict = {}
for item in my_list:
    if item != "four":
        my_new_dict[f"Key #{item}"] = item + 100

You should use whichever format is clearest for your situation.

#### `defaultdict`: an Agreeable Dictionary

[`defaultdict`] is like a regular dictionary, except it doesn't complain if you try to access a key that doesn't exist yet—it just adds it.

[`defaultdict`]: https://docs.python.org/3/library/collections.html#collections.defaultdict

Remember how a regular `dict` handles invalid keys? Suppose we attempt to append to a list that we think is stored in a certain key, even though the dictionary is empty:

In [79]:
my_dictionary = dict()

In [80]:
my_dictionary["some key that doesn't exist"].append("an item")
my_dictionary["some key that doesn't exist"].append("another item")

KeyError: "some key that doesn't exist"

Can't append to a list object that doesn't exist!

If it were a [`defaultdict`], set to make `list` objects by default:

[`defaultdict`]: https://docs.python.org/3/library/collections.html#collections.defaultdict

In [81]:
from collections import defaultdict

In [82]:
my_defaultdict = defaultdict(list)

In [83]:
my_defaultdict["some key that doesn't exist"].append("an item")
my_defaultdict["some key that doesn't exist"].append("another item")

In [84]:
my_defaultdict

defaultdict(list, {"some key that doesn't exist": ['an item', 'another item']})

## _pandas_

@todo: intro to _pandas_

* Series
* Index
* DataFrame
* I/O

# The Excel Workbook: `2017 CAM data from iPads.xlxs`

In [85]:
# The file I'm interested in parsing for cleanup:
file_path = "./data/real/2017/CAM data from iPads/2017 CAM data from iPads.xlsx"

## Opening an Excel File with _pandas_

In [86]:
data_file = pandas.ExcelFile(file_path)

If you get an error here, it may be due to a missing module called `xlrd`. The [setup instructions] will tell you how to install it.

[setup instructions]: #Reading-Excel-files,-processing-data

## Worksheets in the File, as DataFrames

In [87]:
data_file_sheet_names = sorted(data_file.sheet_names)

In [88]:
data_file_sheet_names

['2017 CAM data Erl',
 '2017 CAM iPad data Tyler',
 'Combined iPad 2017 CAM data',
 'schema (WIP reverse engineer)']

I'm only interested in first two, which should have all the data. The other sheets are either unfinished or unrelated to the task at hand.

In [89]:
cam_sheet_names = data_file_sheet_names[:2]

In [90]:
cam_sheet_names

['2017 CAM data Erl', '2017 CAM iPad data Tyler']

In [91]:
def last_word(string, word_separator=' '):
    words = string.split(word_separator)
    return words[-1]

In [92]:
last_word("hey, there are words here")

'here'

Let's make a dictionary of DataFrames from all the sheets, using the last word as the name. If you're familiar with [lists] in Python, you may remember that an index of -1 means the last item, as in the largest possible index number. We're using `for` to define the `dict` based on items in `cam_sheet_names`. _pandas_ DataFrames can be made by calling the `parse` function from the _pandas_ file object, given a sheet name.

[lists]: https://docs.python.org/3/tutorial/datastructures.html#lists

In [93]:
sheets = {last_word(sheet_name): data_file.parse(sheet_name)
          for sheet_name in cam_sheet_names}

In [94]:
sheets.keys()

dict_keys(['Erl', 'Tyler'])

## Goal: Unifying the DataFrames

Now that we have a convenient list of sheets that are loaded as _pandas_ DataFrames, we can work toward merging them into one. Once they're merged, we can process the data more easily from a single DataFrame.

### _pandas_ functions for merging DataFrames

_pandas_ has multiple methods for combining datasets:

- [`concat`]: The concatenate method has an option to ignore row numbers, which has the effect of gluing each dataframe to the bottom of the previous one.
- [`append`]: Append would be almost equivalent, but always updates the first DataFrame or Series it's given.
- [`merge`]: Merge is more for database-style relational merges.

[`concat`]: https://pandas.pydata.org/pandas-docs/stable/merging.html
[`append`]: https://pandas.pydata.org/pandas-docs/stable/merging.html#concatenating-using-append
[`merge`]: https://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging

I'm thinking about [`append`], but I like to have the option of creating a new DataFrame rather than overwriting anything, because the results are easier to repeat.

From reading up on all three methods, it looks to me like `concat` will suffice, here, as long as the column names are identical.

Let's see how close that concatenation method gets us:

In [95]:
pandas.concat(sheets).info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4690 entries, (Erl, 0) to (Tyler, 3779)
Data columns (total 56 columns):
clients__company                                                    1 non-null object
clients__displayText                                                1 non-null object
clients__fname                                                      1 non-null object
clients__lname                                                      1 non-null object
clients__name                                                       1 non-null object
fields__client__company                                             21 non-null object
fields__client__displayText                                         21 non-null object
fields__client__fname                                               21 non-null object
fields__client__lname                                               21 non-null object
fields__client__name                                                21 non-null object
fields__crop                                                        21 non-null object
fields__date                                                        21 non-null object
fields__desc                                                        15 non-null object
fields__image                                                       21 non-null object
fields__name                                                        21 non-null object
fields__oSets__completeSets                                         54 non-null float64
fields__oSets__date                                                 54 non-null object
fields__oSets__dateCompare                                          54 non-null datetime64[ns]
fields__oSets__desc                                                 0 non-null float64
fields__oSets__growthStage                                          45 non-null float64
fields__oSets__growthStage Zadoks                                   9 non-null float64
fields__oSets__oPoints__id                                          335 non-null float64
fields__oSets__oPoints__location__coords__accuracy                  250 non-null float64
fields__oSets__oPoints__location__coords__altitude                  250 non-null float64
fields__oSets__oPoints__location__coords__altitudeAccuracy          250 non-null float64
fields__oSets__oPoints__location__coords__heading                   247 non-null float64
fields__oSets__oPoints__location__coords__latitude                  250 non-null float64
fields__oSets__oPoints__location__coords__longitude                 250 non-null float64
fields__oSets__oPoints__location__coords__speed                     250 non-null float64
fields__oSets__oPoints__location__timestamp                         250 non-null float64
fields__oSets__oPoints__name                                        335 non-null object
fields__oSets__oPoints__observations__a1__number                    324 non-null float64
fields__oSets__oPoints__observations__a1__number EGA                124 non-null float64
fields__oSets__oPoints__observations__a2__number                    112 non-null float64
fields__oSets__oPoints__observations__a2__number BCO                30 non-null float64
fields__oSets__oPoints__observations__a3__number                    25 non-null float64
fields__oSets__oPoints__observations__a3__number Greenbug           0 non-null float64
fields__oSets__oPoints__observations__anum                          1350 non-null float64
fields__oSets__oPoints__observations__anum TotalAPhids              325 non-null float64
fields__oSets__oPoints__observations__complete                      1937 non-null float64
fields__oSets__oPoints__observations__disabled                      0 non-null float64
fields__oSets__oPoints__observations__eVnum                         270 non-null float64
fields__oSets__oPoints__observations__eVnum Natural enemy totals    65 non-null float64
fields__oSets__oPoints__observations__enum                          335 non-null float64
fields__oSets__oPoints__observations__id                            2010 non-null float64
fields__oSets__oPoints__observations__name                          2010 non-null object
fields__oSets__oPoints__observations__|                             3015 non-null object
fields__oSets__oPoints__observations__|__number                     172 non-null float64
fields__oSets__obsName                                              54 non-null object
fields__oSets__results                                              52 non-null object
fields__oSets__totalA1                                              52 non-null float64
fields__oSets__totalA2                                              52 non-null float64
fields__oSets__totalA3                                              52 non-null float64
fields__oSets__totalA4                                              52 non-null float64
fields__oSets__totalSets                                            54 non-null float64
observers                                                           3 non-null object
dtypes: datetime64[ns](1), float64(33), object(22)
memory usage: 2.0+ MB

We can see the MultiIndex size in the info: 

>MultiIndex: 4690 entries, (Erl, 0) to (Tyler, 3779)

Which means 4690 "rows", if this were a spreadsheet.

Compare to the total row count for all sheets, by using Python's function `len`:

In [96]:
data_frame_lengths = [len(sheet) for sheet in sheets.values()]
display(data_frame_lengths)
sum(data_frame_lengths)

[910, 3780]

4690

>Data columns (total 56 columns)

The `info()` readout for the concatenation dry run tells us about columns.

In [97]:
[len(sheet.columns) for sheet in sheets.values()]

[50, 50]

The column counts for each source worksheet.

Pretty good, so far, except for some extra columns due to variations in the column names—I see `growthStage` and `growthStage Zadoks`, as well as some aphid names amongst the `a1__number`, `a2__number`, `a3__number` group.

* Unchanging number of rows
  + Merge result: Good 😃
    + no redundancy in rows
    + no missing rows
* Rising number of columns
  - Merge result: Sub-optimal 😡
    - redundancy in columns
    - incomplete merge

### Column Name Difference

#### Visualize the Difference

By looking at the column list from the dry run, it's already fairly obvious what the naming problem is. But just to demonstrate how to use Python to calculate differences, let's look again at our DataFrames column names.

For our frames:

In [98]:
for key, sheet in sheets.items():
    print(f"{key}, {type(sheet)!r}")

Erl, <class 'pandas.core.frame.DataFrame'>
Tyler, <class 'pandas.core.frame.DataFrame'>

In [99]:
print('\n'.join((f"{key}, {type(sheet)!r}" for key, sheet in sheets.items())))

Erl, <class 'pandas.core.frame.DataFrame'>
Tyler, <class 'pandas.core.frame.DataFrame'>

To list the names of columns from *all* sheets that don't have a match (symmetric difference), we can use [`set.symmetric_difference`], which is also written as the `^` symbol demonstrated in the [introduction to sets].

[introduction to sets]: #Sets
[`set.symmetric_difference`]: https://docs.python.org/3/library/stdtypes.html#frozenset.symmetric_difference

In [100]:
column_list = sheets['Erl'].columns ^ sheets['Tyler'].columns
display(column_list)

Index(['fields__oSets__growthStage', 'fields__oSets__growthStage Zadoks',
       'fields__oSets__oPoints__observations__a1__number',
       'fields__oSets__oPoints__observations__a1__number EGA',
       'fields__oSets__oPoints__observations__a2__number',
       'fields__oSets__oPoints__observations__a2__number BCO',
       'fields__oSets__oPoints__observations__a3__number',
       'fields__oSets__oPoints__observations__a3__number Greenbug',
       'fields__oSets__oPoints__observations__anum',
       'fields__oSets__oPoints__observations__anum TotalAPhids',
       'fields__oSets__oPoints__observations__eVnum',
       'fields__oSets__oPoints__observations__eVnum Natural enemy totals'],
      dtype='object')

Here are the problematic parts:

`fields__oSets__growthStage
fields__oSets__growthStage `**`Zadoks`**`<
fields__oSets__oPoints__observations__a1__number
fields__oSets__oPoints__observations__a1__number `**`EGA`**`<
fields__oSets__oPoints__observations__a2__number
fields__oSets__oPoints__observations__a2__number `**`BCO`**`<
fields__oSets__oPoints__observations__a3__number
fields__oSets__oPoints__observations__a3__number `**`Greenbug`**`<
fields__oSets__oPoints__observations__anum
fields__oSets__oPoints__observations__anum `**`TotalAPhids`**`<
fields__oSets__oPoints__observations__eVnum
fields__oSets__oPoints__observations__eVnum `**`Natural enemy totals`**`<`

Before we concatenate, let's standardize on the names from the more regular DataFrame. But which sheet is the one to fix? Which sheet has `fields__oSets__growthStage Zadoks` (two "words") instead of `fields__oSets__growthStage` (one "word")?

Let's make sure of what we're about to do, by checking for any column names have multiple "words":

In [101]:
sheets_with_bad_column_names = {sheet_name: sheet for sheet_name, sheet in sheets.items() 
                                if any(len(column.split()) > 1 for column in sheet.columns)}

In [102]:
display(heading('Bad:'),
        set(sheets_with_bad_column_names.keys()))

{'Erl'}

There's now a `sheets_with_bad_column_names` list we can use when we fix that.

##### To Confirm:

All the sheets, minus the bad ones:

In [103]:
display(heading('Good:'),
        sheets.keys() - sheets_with_bad_column_names.keys())

{'Tyler'}

Okay, "Tyler" has the column names we prefer, "Erl" does not. Duly noted.

#### How shall we solve the name mismatch?

Our options:

- rename the columns (somewhere)
- ignore the column names of the bad sheet, merge based on order of columns

If we try to do a special merge, ignoring the column names, we have to worry about the _precise order_ of those columns instead of relying on the names. Since we'd have to spend time checking—and possibly rearranging—the column sequence, we might as well fix the names. We can do so while documenting the steps, for posterity.

#### Where should we rename the columns?

Possibilities:

- fix the spreadsheet document in Excel, re-import with _pandas_ and move ahead as if this had never happened
- correct the names in memory only, on the fly, with _pandas_

Since this notebook you're reading has already demonstrated the problem, and we're using _pandas_ anyway, let's go ahead and solve it here.

#### Renaming axis labels (columns or rows) with _pandas_

_pandas_ has a [`rename`] method which lets us:

- Apply a transform function to the DataFrame columns that are named after our worksheet columns. 
- Use a dictionary to explicitly map each column to its respective new name.

Either way, we'll need a function or expression for changing each name. Since the bad names merely have extra words tacked onto the end, let's just split the name and use the first "word".

[`rename`]: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rename.html

In Python, we get the first item of a sequence by using index zero. (As you may remember from the earlier [introduction to lists].)

[introduction to lists]: #Lists-&-tuples

In [104]:
def first_word(string, word_separator=' '):
    """ Split string into words (by space character), return first word. """
    words = string.split(word_separator)
    return words[0]

Since the function was so easy to make, let's not bother with a dictionary. For the sake of visualizing the changes, let's report on changes in a dry run before using the _pandas_ rename function. You certainly don't have to do anything like this, but I enjoy working in Python.

In [105]:
report = []  # For the lines of the report which we'll display later.
for sheet_name, frame in sheets_with_bad_column_names.items():
    report.append(make_heading(sheet_name, level=5))  # heading for each frame
    report_lines = []  # the body of the report for each DataFrame
    for before in frame.columns:
        after = first_word(before)
        if after != before:  # not equal
            content = f"{before} <br> &rarr; {after}"  # old --> new
            attributes = "style='font-weight: bold'"  # CSS
        else:
            content = before
            attributes = None
        report_lines.append(html_wrap(content, 'li', attributes))  # HTML list item
    report.append(html_wrap(''.join(report_lines), 'ol'))  # HTML ordered list
    
# join all the report lines together and display as HTML
display(HTML(''.join(report)))

Looks perfect! Actually change the names:

In [106]:
for sheet in sheets_with_bad_column_names.values():
    sheet.rename(mapper=first_word, axis='columns', inplace=True)

##### Developer notes:

As mentioned before, we know there's only one sheet, so the `for` loop isn't absolutely necessary, but it's still a good habit when dealing with reusable scripts that can work on batches of datasets. (Sometimes other people find your work useful, and sometimes you'll revisit your work to copy something that succeeded in the past.)

### Finally Uniting Our (Properly Labeled) DataFrames

In [107]:
data = pandas.concat(sheets, names=["Worksheet Name","Worksheet Row"])

In [108]:
data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4690 entries, (Erl, 0) to (Tyler, 3779)
Columns: 50 entries, clients__company to observers
dtypes: datetime64[ns](1), float64(27), object(22)
memory usage: 1.8+ MB

Splendid! That's what we expected. 😁

In [109]:
data.head()

                             clients__company clients__displayText  \
Worksheet Name Worksheet Row
Erl            0                          NaN                  NaN
               1                          NaN                  NaN
               2                          NaN                  NaN
               3                          NaN                  NaN
               4                          NaN                  NaN

                             clients__fname clients__lname clients__name  \
Worksheet Name Worksheet Row
Erl            0                        NaN            NaN           NaN
               1                        NaN            NaN           NaN
               2                        NaN            NaN           NaN
               3                        NaN            NaN           NaN
               4                        NaN            NaN           NaN

                             fields__client__company  \
Worksheet Name Worksheet Row
Erl            0                                 NaN
               1                                 NaN
               2                                 NaN
               3                                 NaN
               4                                 NaN

                             fields__client__displayText  \
Worksheet Name Worksheet Row
Erl            0                                     NaN
               1                                     NaN
               2                                     NaN
               3                                     NaN
               4                                     NaN

                             fields__client__fname fields__client__lname  \
Worksheet Name Worksheet Row
Erl            0                               NaN                   NaN
               1                               NaN                   NaN
               2                               NaN                   NaN
               3                               NaN                   NaN
               4                               NaN                   NaN

                             fields__client__name    ...      \
Worksheet Name Worksheet Row                         ...
Erl            0                              NaN    ...
               1                              NaN    ...
               2                              NaN    ...
               3                              NaN    ...
               4                              NaN    ...

                             fields__oSets__oPoints__observations__|  \
Worksheet Name Worksheet Row
Erl            0                                                 NaN
               1                                                 NaN
               2                                                 NaN
               3                                                 NaN
               4                                                 NaN

                             fields__oSets__oPoints__observations__|__number  \
Worksheet Name Worksheet Row
Erl            0                                                         NaN
               1                                                         NaN
               2                                                         NaN
               3                                                         NaN
               4                                                         NaN

                             fields__oSets__obsName fields__oSets__results  \
Worksheet Name Worksheet Row
Erl            0                              Tyler                    NaN
               1                                NaN                    NaN
               2                                NaN                    NaN
               3                                NaN                    NaN
               4                                NaN                    NaN

                             fields__oSets__totalA1  fields__oSets__totalA2  \
Worksheet Name Worksheet Row
Erl            0                                NaN                     NaN
               1                                NaN                     NaN
               2                                NaN                     NaN
               3                                NaN                     NaN
               4                                NaN                     NaN

                             fields__oSets__totalA3 fields__oSets__totalA4  \
Worksheet Name Worksheet Row
Erl            0                                NaN                    NaN
               1                                NaN                    NaN
               2                                NaN                    NaN
               3                                NaN                    NaN
               4                                NaN                    NaN

                              fields__oSets__totalSets  observers
Worksheet Name Worksheet Row
Erl            0                                   1.0        NaN
               1                                   NaN        NaN
               2                                   NaN        NaN
               3                                   NaN        NaN
               4                                   NaN        NaN

[5 rows x 50 columns]

## Goal: Map the Column Relationships

### Indexing by Repeated Words

In [110]:
data.columns

Index(['clients__company', 'clients__displayText', 'clients__fname',
       'clients__lname', 'clients__name', 'fields__client__company',
       'fields__client__displayText', 'fields__client__fname',
       'fields__client__lname', 'fields__client__name', 'fields__crop',
       'fields__date', 'fields__desc', 'fields__image', 'fields__name',
       'fields__oSets__completeSets', 'fields__oSets__date',
       'fields__oSets__dateCompare', 'fields__oSets__desc',
       'fields__oSets__growthStage', 'fields__oSets__oPoints__id',
       'fields__oSets__oPoints__location__coords__accuracy',
       'fields__oSets__oPoints__location__coords__altitude',
       'fields__oSets__oPoints__location__coords__altitudeAccuracy',
       'fields__oSets__oPoints__location__coords__heading',
       'fields__oSets__oPoints__location__coords__latitude',
       'fields__oSets__oPoints__location__coords__longitude',
       'fields__oSets__oPoints__location__coords__speed',
       'fields__oSets__oPoints__location__timestamp',
       'fields__oSets__oPoints__name',
       'fields__oSets__oPoints__observations__a1__number',
       'fields__oSets__oPoints__observations__a2__number',
       'fields__oSets__oPoints__observations__a3__number',
       'fields__oSets__oPoints__observations__anum',
       'fields__oSets__oPoints__observations__complete',
       'fields__oSets__oPoints__observations__disabled',
       'fields__oSets__oPoints__observations__eVnum',
       'fields__oSets__oPoints__observations__enum',
       'fields__oSets__oPoints__observations__id',
       'fields__oSets__oPoints__observations__name',
       'fields__oSets__oPoints__observations__|',
       'fields__oSets__oPoints__observations__|__number',
       'fields__oSets__obsName', 'fields__oSets__results',
       'fields__oSets__totalA1', 'fields__oSets__totalA2',
       'fields__oSets__totalA3', 'fields__oSets__totalA4',
       'fields__oSets__totalSets', 'observers'],
      dtype='object')

We're dealing with a lot of repetition in column names, which indicates relationships to each other which we can use to group our columns. The more often a word is repeated, the more it outranks its fellow words — or the higher its seniority in the family tree, so to speak.

Let's use a nested dictionary in Python to map out a relational hierarchy.

Also, _pandas_ has a concept of [indexing hierarchically], which may help group columns together — we can probably use the dictionary to help us add more indices to the DataFrame later, if we need.

[indexing hierarchically]: https://pandas.pydata.org/pandas-docs/stable/advanced.html

### Split the Column Names

Our column names follow a pattern: words separated by two underscores.

If we turn a column name into a list of words, we can start grouping those words based on the word that came before them.

For example, these column names:

```
fields__name
fields__oSets__oPoints__observations__name
fields__oSets__oPoints__observations__anum
fields__oSets__oPoints__observations__enum
```

Would become a tree of words:

```
        _ name                                  _ name
       /                                       /
fields --> oSets --> oPoints --> observations --- anum
                                               \_ enum
```

#### The Separator String

Here's what we're dealing with.

In [111]:
display(data.columns[9])

'fields__client__name'

Between words is `__` — save that string of underscore characters for later reference.

In [112]:
SEPARATOR = '__'

##### Python's `split()` method for strings:

In [113]:
column_name = data.columns[3]
column_name.split(SEPARATOR)

['clients', 'lname']

We can boldly use that expression whenever we please, without defining any functions.

In [114]:
f"So many fields about {column_name.split(SEPARATOR)[0]}, I tell you!"

'So many fields about clients, I tell you!'

#### Resulting Gain: Expression for Splitting Column Names into Words

In [115]:
for column_name in data.columns:
    display(column_name.split(SEPARATOR))

['clients', 'company']

['clients', 'displayText']

['clients', 'fname']

['clients', 'lname']

['clients', 'name']

['fields', 'client', 'company']

['fields', 'client', 'displayText']

['fields', 'client', 'fname']

['fields', 'client', 'lname']

['fields', 'client', 'name']

['fields', 'crop']

['fields', 'date']

['fields', 'desc']

['fields', 'image']

['fields', 'name']

['fields', 'oSets', 'completeSets']

['fields', 'oSets', 'date']

['fields', 'oSets', 'dateCompare']

['fields', 'oSets', 'desc']

['fields', 'oSets', 'growthStage']

['fields', 'oSets', 'oPoints', 'id']

['fields', 'oSets', 'oPoints', 'location', 'coords', 'accuracy']

['fields', 'oSets', 'oPoints', 'location', 'coords', 'altitude']

['fields', 'oSets', 'oPoints', 'location', 'coords', 'altitudeAccuracy']

['fields', 'oSets', 'oPoints', 'location', 'coords', 'heading']

['fields', 'oSets', 'oPoints', 'location', 'coords', 'latitude']

['fields', 'oSets', 'oPoints', 'location', 'coords', 'longitude']

['fields', 'oSets', 'oPoints', 'location', 'coords', 'speed']

['fields', 'oSets', 'oPoints', 'location', 'timestamp']

['fields', 'oSets', 'oPoints', 'name']

['fields', 'oSets', 'oPoints', 'observations', 'a1', 'number']

['fields', 'oSets', 'oPoints', 'observations', 'a2', 'number']

['fields', 'oSets', 'oPoints', 'observations', 'a3', 'number']

['fields', 'oSets', 'oPoints', 'observations', 'anum']

['fields', 'oSets', 'oPoints', 'observations', 'complete']

['fields', 'oSets', 'oPoints', 'observations', 'disabled']

['fields', 'oSets', 'oPoints', 'observations', 'eVnum']

['fields', 'oSets', 'oPoints', 'observations', 'enum']

['fields', 'oSets', 'oPoints', 'observations', 'id']

['fields', 'oSets', 'oPoints', 'observations', 'name']

['fields', 'oSets', 'oPoints', 'observations', '|']

['fields', 'oSets', 'oPoints', 'observations', '|', 'number']

['fields', 'oSets', 'obsName']

['fields', 'oSets', 'results']

['fields', 'oSets', 'totalA1']

['fields', 'oSets', 'totalA2']

['fields', 'oSets', 'totalA3']

['fields', 'oSets', 'totalA4']

['fields', 'oSets', 'totalSets']

['observers']

Looks good to me. Some words aren't separated, like `dateCompare` and `growthStage`, but those shouldn't pose a problem because they're nicely grouped with related columns.

### Build a Tree of Words

#### Steps

Here's the strategy for building a tree from those lists of words for each column name, with data:

0. Given:
   - a _pandas_ `DataFrame`
   - a column name and separator string
   - a `defaultdict` that makes more `defaultdict` objects if you just ask
     for the key
0. Set a pointer to the new `defaultdict`, which will be root of the tree, for starters.
0. Split the column name apart, using the given separator string.
0. Now, walk through the words in order from left to right:
   0. access whichever `defaultdict` the pointer is currently referring to
   0. lookup a key based the current word
   0. update the pointer to the `defaultdict` for that key (whether it existed before or not)
0. On the last word, update the pointer:
   + store a reference to the data for that `DataFrame` column.

#### Define Function: `split_column_to_tree`

In [116]:
def split_column_to_tree(column: pandas.Series, tree: defaultdict=None,
                         column_name: str=None, separator: str=SEPARATOR,
                         data_key: str=SEPARATOR):
    """Split the column names like "fields__oSets__oPoints__id" into groupings
    of keys so that related keys are easy to find, such as 
    columns['fields']['oSets']['oPoints']['id']. This produces a tree of
    column name segments, with references to actual data at the ends.
    """
    if tree is None:
        def nested_dict():
            return defaultdict(nested_dict)
        tree = nested_dict()
    pointer = tree
    for word in str(column_name or column.name).split(separator):
        pointer = pointer[word]
    pointer[data_key] = column
    return tree

##### The Key to Real Data:

Because there's always the chance that a node might have data as well as more nodes under it, we'll store the reference to data with a key having a name that can't possibly be a word: the separator!

#### Use that Function with `for` to Process a DataFrame

By passing the partially constructed tree back into our function for re-use, we can accumulate all the columns together.

In [117]:
def make_column_tree(data_frame: pandas.DataFrame, 
                     separator: str = SEPARATOR, 
                     data_key: str = SEPARATOR):
    tree = None  # initialize the variable, otherwise we can't reference it
    for name, series in data.iteritems():
        tree = split_column_to_tree(series, column_name=name, tree=tree, separator=separator,
                                    data_key=data_key)
    return tree

In [118]:
columns = make_column_tree(data)

##### Check Column Groups

If that worked as planned, there should be a list of the first segments of all the column names in that sheet:

In [119]:
columns.keys()

dict_keys(['clients', 'fields', 'observers'])

Continuing deeper, more segments that share a common prefix:

In [120]:
fields_node = columns['fields']
fields_node.keys()

dict_keys(['client', 'crop', 'date', 'desc', 'image', 'name', 'oSets'])

In [121]:
sets_node = fields_node['oSets']
sets_node.keys()

dict_keys(['completeSets', 'date', 'dateCompare', 'desc', 'growthStage', 'oPoints', 'obsName', 'results', 'totalA1', 'totalA2', 'totalA3', 'totalA4', 'totalSets'])

#### Visualize the Tree

Browsing the column structure by using the dictionary accessors is a bit tedious. It's great for machines, but my human brain has a bit of trouble holding it all in my head when I see it only one level at a time.

We can see the structure of the hierarchy in a dictionary by using a function like this:

In [122]:
def visualize_tree(tree, depth=1, maximum_depth=None, data_key=SEPARATOR):
    if isinstance(tree, (dict, defaultdict)):
        for key, val in tree.items():
            if key != data_key:
                print(".   " * (depth - 1) + key)
                if maximum_depth is None or depth <= maximum_depth:
                    visualize_tree(val, depth + 1, maximum_depth, data_key)

It may seem strange to see math symbols used with text, but Python understands what we want: to repeat the text if we multiply it, to append if we add.

Here's the output for the whole tree:

In [123]:
visualize_tree(columns)

clients
.   company
.   displayText
.   fname
.   lname
.   name
fields
.   client
.   .   company
.   .   displayText
.   .   fname
.   .   lname
.   .   name
.   crop
.   date
.   desc
.   image
.   name
.   oSets
.   .   completeSets
.   .   date
.   .   dateCompare
.   .   desc
.   .   growthStage
.   .   oPoints
.   .   .   id
.   .   .   location
.   .   .   .   coords
.   .   .   .   .   accuracy
.   .   .   .   .   altitude
.   .   .   .   .   altitudeAccuracy
.   .   .   .   .   heading
.   .   .   .   .   latitude
.   .   .   .   .   longitude
.   .   .   .   .   speed
.   .   .   .   timestamp
.   .   .   name
.   .   .   observations
.   .   .   .   a1
.   .   .   .   .   number
.   .   .   .   a2
.   .   .   .   .   number
.   .   .   .   a3
.   .   .   .   .   number
.   .   .   .   anum
.   .   .   .   complete
.   .   .   .   disabled
.   .   .   .   eVnum
.   .   .   .   enum
.   .   .   .   id
.   .   .   .   name
.   .   .   .   |
.   .   .   .   .   number
.   .   obsName
.   .   results
.   .   totalA1
.   .   totalA2
.   .   totalA3
.   .   totalA4
.   .   totalSets
observers

Using this new function, we can also limit the depth, even to zero, which is the equivalent of `column_dictionary.keys()`:

In [124]:
columns.keys()

dict_keys(['clients', 'fields', 'observers'])

In [125]:
visualize_tree(columns, maximum_depth=0)

clients
fields
observers

Or, just a shallow peek into the next level:

In [126]:
visualize_tree(columns, maximum_depth=1)

clients
.   company
.   displayText
.   fname
.   lname
.   name
fields
.   client
.   crop
.   date
.   desc
.   image
.   name
.   oSets
observers

#### Refer to the Data

Earlier, we declared a `SEPARATOR` string, then decided to also use that as the key for storing a reference to data at the end of each branch in our tree index. For example, the `date` of the set:

In [127]:
sets_node = columns['fields']['oSets']
sets_node['date'].keys()

dict_keys(['__'])

Since we're not using that separator string anymore, let's give our data key a better name.

In [128]:
DATA = SEPARATOR

And we can check for that any time by using Python's `in` operator:

In [129]:
DATA in sets_node['date']

True

We can look at some data now!

In [130]:
sets_node['date'][DATA].head()

Worksheet Name  Worksheet Row
Erl             0                2017-08-02T13:12:09.542
                1                                    NaN
                2                                    NaN
                3                                    NaN
                4                                    NaN
Name: fields__oSets__date, dtype: object

There are many missing values, represented by `NaN`. There are ways to skip over them, but let's come back to that problem later when we're dealing with entire sections of the DataFrame.

#### Resulting Gain

Now, every column can be found in two places:

- _pandas_ DataFrame
  - `data['fields__name'].describe()`
  - `data['fields__client__name'].unique()`
- Our index tree
  - `columns['fields']['name']['__'].describe()`
  - `columns['fields']['client']['name']['__'].unique()`

Each column of data pertains to a particular thing, place, or time. The column names reflect those particulars. Soon, we'll take advantage of this structure to make expressions which intuitively select the relevent columns for any given section. We can get lists of columns from any node in our index tree by using methods like `keys()` and `items()`. From there, we can follow the keys down to the next node, and so on, all the way to the data reference.

### Setup Filters for Columns

We'll want to be able to easily produce a list of applicable columns for any given row.

Usually, the applicable columns for any row depend on which type of information is in the section for that row. 

Which section the row is in depends on whether certain columns have a value on a nearby row and whether certain other columns have not.

Nodes in our column tree are closely related to the division of sections in the DataFrame.

Once the correct section is identified for a row, the appropriate group of columns in usually in all the columns at whatever level the section relates to.

All we have to do is figure out which keys in a node point to data and we can use `for` in Python to make a list relevent columns for a row.

#### Define Function: `has_data(node, data_key=DATA)`

A function to detect whether the given node has _pandas_ column data.

We must:

0. ensure our function is receiving a dictionary node
0. check the keys for the data key.

[`isinstance`] is a built-in Python function which checks if an object is a dictionary, list, or whatever type you specify and returns `True` or `False`.

If the given object is a dictionary, we can look for the data key that we chose earlier, which we ultimately named `DATA`.

[`isinstance`]: https://docs.python.org/3/library/functions.html#isinstance

In [131]:
# DATA = SEPARATOR = '__'
def has_data(node, data_key=DATA):
    """ We know node has data if it has a key that's the data key. """
    return isinstance(node, dict) and data_key in node.keys()

#### Define Function: `get_child_data_nodes(node)`

We can easily use `for` and `has_data` together to build a filtered dictionary from any node.

Here's a function which looks at all items in a node and filters out any items that aren't data containers:

In [132]:
def get_child_data_nodes(node):
    """ Filter children that have data. """
    return {parent_key: child for parent_key, child in node.items()
            if isinstance(node, dict) and has_data(child)}

Sometimes, it may be useful to also have a list of deeper nodes from any point in the tree, in case related details are in a deeper level. For example, natural enemies are part of an observation point but they're one level deeper than the aphid counts, which are also part of that logical data point.

#### Define Function: `get_grandchild_nodes(node)`

It's easy to assume that any item in a node that isn't a data container is therefore a node leading to more nodes. However, that isn't a valid assumption, because we've already seen that there are columns that disprove that case:

- `fields__oSets__oPoints__observations__|`
- `fields__oSets__oPoints__observations__|__number`

We'll have to check whether the item also has children that aren't _merely_ a data container.

It's a bit trickier to also check if a data container is also an intermediate node, but it can be done.

Here's the logic:

- If a node has more than one key:
  - Because there can only be one data key, any other keys must something else:
    - Assume it is a child node because we aren't expecting anything else.
- If a node has one key:
  - Check if that key is the data key:
    - If yes:
      - That can't possibly be a child node, because it's a data reference.
    - If no:
      - Assume it is a child node because we aren't expecting anything else.

In [133]:
def get_grandchild_nodes(node):
    """ Filter children that have children. We know a child node has children
    if it has any dictionary values that are in turn dictionaries with at
    least one key that isn't a data reference. """
    return {parent_key: child 
            for parent_key, child in node.items()
            if isinstance(child, dict)
            and (len(child) > 1 
                 or len(child) == 1 and not has_data(child))}

Let's try it on the `observations` node:

In [134]:
points_node = sets_node['oPoints']
observations_node = points_node['observations']

In [135]:
display(heading('children of "observations" with children:'),
        set(get_child_children(observations_node).keys()))

NameError: name 'get_child_children' is not defined

In [136]:
display(heading('children of "observations" with data:'),
        set(get_child_data_nodes(observations_node)))

{'anum', 'complete', 'disabled', 'eVnum', 'enum', 'id', 'name', '|'}

In [137]:
# With Python sets, the ampersand (`&`) is the set intersetion operator.
display(heading('children of "observations" with children & data:'),
        set(get_grandchild_nodes(observations_node)) & set(get_child_data_nodes(observations_node)))

{'|'}

Oh? Children _and_ data under `|`? What could it be? Some sort of extension to the observations section, I'm thinking.

In [138]:
observations_ext_node = observations_node['|']

In [139]:
display(observations_ext_node[DATA].dropna().head(9))

Worksheet Name  Worksheet Row
Erl             5                e1
                6                e2
                7                e3
                8                e4
                9                e5
                10               e6
                11               e7
                12               e8
                13               e9
Name: fields__oSets__oPoints__observations__|, dtype: object

In [140]:
display(observations_ext_node['number'][DATA].dropna().head(9))

Worksheet Name  Worksheet Row
Erl             90               5.0
                94               1.0
                96               2.0
                104              5.0
                110              1.0
                118              4.0
                132              2.0
                136              1.0
                145              1.0
Name: fields__oSets__oPoints__observations__|__number, dtype: float64

Based on my experience with using the app, I think it has something to do with natural enemy counts, because that's the only other information gathered by the app that hasn't been accounted for in the well-named columns.

Later on, we'll need to dig up the actual list of naturaly enemies and match them to the corresponding "e" labels, `e1` through `e9`.

### Find Columns in a Section

Let's take a look at the columns containing data about observation sets.

We'll use `has_data` to filter our `sets_node` so we can express a list of names of data-containing columns about `fields__oSets`.

In [141]:
sets_columns_names = [column[DATA].name for column in get_child_data_nodes(sets_node).values()]
display(sets_columns_names)

['fields__oSets__completeSets',
 'fields__oSets__date',
 'fields__oSets__dateCompare',
 'fields__oSets__desc',
 'fields__oSets__growthStage',
 'fields__oSets__obsName',
 'fields__oSets__results',
 'fields__oSets__totalA1',
 'fields__oSets__totalA2',
 'fields__oSets__totalA3',
 'fields__oSets__totalA4',
 'fields__oSets__totalSets']

Passing that list to _pandas_, we should get exactly which columns of data we need:

In [142]:
display(data[sets_columns_names].head())

                              fields__oSets__completeSets  \
Worksheet Name Worksheet Row
Erl            0                                      0.0
               1                                      NaN
               2                                      NaN
               3                                      NaN
               4                                      NaN

                                  fields__oSets__date  \
Worksheet Name Worksheet Row
Erl            0              2017-08-02T13:12:09.542
               1                                  NaN
               2                                  NaN
               3                                  NaN
               4                                  NaN

                             fields__oSets__dateCompare  fields__oSets__desc  \
Worksheet Name Worksheet Row
Erl            0                             2017-08-02                  NaN
               1                                    NaT                  NaN
               2                                    NaT                  NaN
               3                                    NaT                  NaN
               4                                    NaT                  NaN

                              fields__oSets__growthStage  \
Worksheet Name Worksheet Row
Erl            0                                     7.0
               1                                     NaN
               2                                     NaN
               3                                     NaN
               4                                     NaN

                             fields__oSets__obsName fields__oSets__results  \
Worksheet Name Worksheet Row
Erl            0                              Tyler                    NaN
               1                                NaN                    NaN
               2                                NaN                    NaN
               3                                NaN                    NaN
               4                                NaN                    NaN

                              fields__oSets__totalA1  fields__oSets__totalA2  \
Worksheet Name Worksheet Row
Erl            0                                 NaN                     NaN
               1                                 NaN                     NaN
               2                                 NaN                     NaN
               3                                 NaN                     NaN
               4                                 NaN                     NaN

                              fields__oSets__totalA3  fields__oSets__totalA4  \
Worksheet Name Worksheet Row
Erl            0                                 NaN                     NaN
               1                                 NaN                     NaN
               2                                 NaN                     NaN
               3                                 NaN                     NaN
               4                                 NaN                     NaN

                              fields__oSets__totalSets
Worksheet Name Worksheet Row
Erl            0                                   1.0
               1                                   NaN
               2                                   NaN
               3                                   NaN
               4                                   NaN

That's useful. We should define a function for that.

#### Define Function: `get_child_column_data(node)`

In [143]:
def get_child_column_data(node: dict) -> list or None:
    child_data_nodes = get_child_data_nodes(node)
    if child_data_nodes:
        return [column[DATA] for column in child_data_nodes.values()]
    return []

Let's test that out, by getting names from everything it returns:

In [144]:
observations_node = columns["fields"]["oSets"]["oPoints"]["observations"]
[item.name for item in get_child_column_data(observations_node)]

['fields__oSets__oPoints__observations__anum',
 'fields__oSets__oPoints__observations__complete',
 'fields__oSets__oPoints__observations__disabled',
 'fields__oSets__oPoints__observations__eVnum',
 'fields__oSets__oPoints__observations__enum',
 'fields__oSets__oPoints__observations__id',
 'fields__oSets__oPoints__observations__name',
 'fields__oSets__oPoints__observations__|']

We could write that as a name-getter function:

#### Improve `visualize_tree`

Now that we have filters for helping us traverse the tree, let's take a moment to improve `visualize_tree`:

In [145]:
def visualize_tree(tree, depth=1, maximum_depth=None, data_key=DATA,
                   show_leaf_nodes=True):
    if isinstance(tree, (dict, defaultdict)):
        if show_leaf_nodes:
            nodes = tree
        else:
            nodes = get_grandchild_nodes(tree)
        for key, val in nodes.items():
            if key != data_key:
                if has_data(val):
                    prefix = '* '
                else:
                    prefix = ''
                if get_grandchild_nodes(val) or get_child_data_nodes(val):
                    suffix = '/'
                else:
                    suffix = ''
                print(".   " * (depth - 1) + f"{prefix}{key}{suffix}")
                if maximum_depth is None or depth <= maximum_depth:
                    visualize_tree(val, depth + 1, maximum_depth, data_key,
                                   show_leaf_nodes)

Now we can visualize the structure in terms of what's at the ends of the branches (leaf nodes) or all descendants. The additional punctuation also makes it more obvious which nodes have data values. For example, the node at `fields__oSets__oPoints__observations__|`, which is both a data node and a branch.

In [146]:
visualize_tree(observations_node, show_leaf_nodes=False)

a1/
a2/
a3/
* |/

In [147]:
visualize_tree(observations_node, show_leaf_nodes=True)

a1/
.   * number
a2/
.   * number
a3/
.   * number
* anum
* complete
* disabled
* eVnum
* enum
* id
* name
* |/
.   * number

#### Define Function: `get_descendant_column_data(node)`

In [148]:
def get_child_descendant_column_data(node: dict) -> list:
    columns = []
    for grandchild in get_grandchild_nodes(node).values():
        columns.extend(get_descendant_column_data(grandchild))
    return columns

def get_descendant_column_data(node: dict) -> list:
    """ Recursively return all children."""
    return get_child_column_data(node) + get_child_descendant_column_data(node)

In [149]:
[series.name for series in get_descendant_column_data(observations_node)]

['fields__oSets__oPoints__observations__anum',
 'fields__oSets__oPoints__observations__complete',
 'fields__oSets__oPoints__observations__disabled',
 'fields__oSets__oPoints__observations__eVnum',
 'fields__oSets__oPoints__observations__enum',
 'fields__oSets__oPoints__observations__id',
 'fields__oSets__oPoints__observations__name',
 'fields__oSets__oPoints__observations__|',
 'fields__oSets__oPoints__observations__a1__number',
 'fields__oSets__oPoints__observations__a2__number',
 'fields__oSets__oPoints__observations__a3__number',
 'fields__oSets__oPoints__observations__|__number']

Now, we can select columns at any depth.

Child level only (first generation descendants):

In [150]:
# as in get_child_column_names(observations_node)
[column.name for column in get_child_column_data(observations_node)]

['fields__oSets__oPoints__observations__anum',
 'fields__oSets__oPoints__observations__complete',
 'fields__oSets__oPoints__observations__disabled',
 'fields__oSets__oPoints__observations__eVnum',
 'fields__oSets__oPoints__observations__enum',
 'fields__oSets__oPoints__observations__id',
 'fields__oSets__oPoints__observations__name',
 'fields__oSets__oPoints__observations__|']

Recursive only (multi-generation descendants):

In [151]:
[column.name for column in get_child_descendant_column_data(observations_node)]

['fields__oSets__oPoints__observations__a1__number',
 'fields__oSets__oPoints__observations__a2__number',
 'fields__oSets__oPoints__observations__a3__number',
 'fields__oSets__oPoints__observations__|__number']

First generation and multi-generation, combined:

In [152]:
[column.name for column in get_descendant_column_data(observations_node)]

['fields__oSets__oPoints__observations__anum',
 'fields__oSets__oPoints__observations__complete',
 'fields__oSets__oPoints__observations__disabled',
 'fields__oSets__oPoints__observations__eVnum',
 'fields__oSets__oPoints__observations__enum',
 'fields__oSets__oPoints__observations__id',
 'fields__oSets__oPoints__observations__name',
 'fields__oSets__oPoints__observations__|',
 'fields__oSets__oPoints__observations__a1__number',
 'fields__oSets__oPoints__observations__a2__number',
 'fields__oSets__oPoints__observations__a3__number',
 'fields__oSets__oPoints__observations__|__number']

#### Alternative Function: `recursive_get_column_data(node)`

If you're picky, you'll note an issue with the method `get_descendant_column_data(node)`: it always separates generations before recombining them later, which leaves the order of columns perturbed.

Rather than abstractly treat dictionary keys on nodes as "child", "grandchild", and "data", we can treat them as "data" and "non-data". This lets us handle everything in the same loop, using `for`:

In [153]:
def recursive_get_column_data(node: dict) -> list:
    accumulated = []
    for parent_key, child in node.items():
        if parent_key == DATA:
            accumulated.append(child)
        else:
            accumulated.extend(recursive_get_column_data(child))
    return accumulated

In [154]:
[series.name for series in recursive_get_column_data(observations_node)]

['fields__oSets__oPoints__observations__a1__number',
 'fields__oSets__oPoints__observations__a2__number',
 'fields__oSets__oPoints__observations__a3__number',
 'fields__oSets__oPoints__observations__anum',
 'fields__oSets__oPoints__observations__complete',
 'fields__oSets__oPoints__observations__disabled',
 'fields__oSets__oPoints__observations__eVnum',
 'fields__oSets__oPoints__observations__enum',
 'fields__oSets__oPoints__observations__id',
 'fields__oSets__oPoints__observations__name',
 'fields__oSets__oPoints__observations__|',
 'fields__oSets__oPoints__observations__|__number']

The results are the same except for the order. Use whichever is most helpful in your use case.

#### Improve `visualize_tree`

Now that we have filters for helping us traverse the tree, let's take a moment to improve `visualize_tree`:

In [155]:
def visualize_tree(tree, depth=1, maximum_depth=None, data_key=DATA,
                   show_leaf_nodes=True):
    if isinstance(tree, (dict, defaultdict)):
        if show_leaf_nodes:
            nodes = tree
        else:
            nodes = get_grandchild_nodes(tree)
        for key, val in nodes.items():
            if key != data_key:
                if has_data(val):
                    prefix = '* '
                else:
                    prefix = ''
                if get_grandchild_nodes(val) or get_child_data_nodes(val):
                    suffix = '/'
                else:
                    suffix = ''
                print(".   " * (depth - 1) + f"{prefix}{key}{suffix}")
                if maximum_depth is None or depth <= maximum_depth:
                    visualize_tree(val, depth + 1, maximum_depth, data_key,
                                   show_leaf_nodes)

Now we can visualize the structure in terms of what's at the ends of the branches (leaf nodes) or all descendants. The additional punctuation also makes it more obvious which nodes have data values. For example, the node at `fields__oSets__oPoints__observations__|`, which is both a data node and a branch.

In [156]:
visualize_tree(observations_node, show_leaf_nodes=False)

a1/
a2/
a3/
* |/

In [157]:
visualize_tree(observations_node, show_leaf_nodes=True)

a1/
.   * number
a2/
.   * number
a3/
.   * number
* anum
* complete
* disabled
* eVnum
* enum
* id
* name
* |/
.   * number

#### View a DataFrame Section

To view a portion of a DataFrame, such as a subset of the columns, you can approach this in a number of ways. The two most relevant to our task at hand are:

- lookup by column name in existing `DataFrame`
- view columns as new `DataFrame`

If you know the column names, you can just treat the `DataFrame` a bit like a dictionary, but you can use lists of keys instead only one at a time.

In [158]:
def get_child_column_names(node):
    return [column.name for column in get_child_column_data(node)]

For example, if we combine two smaller lists, and you combine them with `+`, that list expression is also valid for specifying columns to a _pandas_ `DataFrame`:

In [159]:
data[
    get_child_column_names(observations_node) + 
    get_child_column_names(observations_ext_node)
].T

Worksheet Name                                                   Erl  \
Worksheet Row                                                   0
fields__oSets__oPoints__observations__anum                         0
fields__oSets__oPoints__observations__complete                   NaN
fields__oSets__oPoints__observations__disabled                   NaN
fields__oSets__oPoints__observations__eVnum                      NaN
fields__oSets__oPoints__observations__enum                       NaN
fields__oSets__oPoints__observations__id                           0
fields__oSets__oPoints__observations__name       Aphid Observation 1
fields__oSets__oPoints__observations__|                          NaN
fields__oSets__oPoints__observations__|__number                  NaN

Worksheet Name                                                        \
Worksheet Row                                                   1
fields__oSets__oPoints__observations__anum                         0
fields__oSets__oPoints__observations__complete                   NaN
fields__oSets__oPoints__observations__disabled                   NaN
fields__oSets__oPoints__observations__eVnum                      NaN
fields__oSets__oPoints__observations__enum                       NaN
fields__oSets__oPoints__observations__id                           1
fields__oSets__oPoints__observations__name       Aphid Observation 2
fields__oSets__oPoints__observations__|                          NaN
fields__oSets__oPoints__observations__|__number                  NaN

Worksheet Name                                                        \
Worksheet Row                                                   2
fields__oSets__oPoints__observations__anum                         0
fields__oSets__oPoints__observations__complete                   NaN
fields__oSets__oPoints__observations__disabled                   NaN
fields__oSets__oPoints__observations__eVnum                      NaN
fields__oSets__oPoints__observations__enum                       NaN
fields__oSets__oPoints__observations__id                           2
fields__oSets__oPoints__observations__name       Aphid Observation 3
fields__oSets__oPoints__observations__|                          NaN
fields__oSets__oPoints__observations__|__number                  NaN

Worksheet Name                                                        \
Worksheet Row                                                   3
fields__oSets__oPoints__observations__anum                         0
fields__oSets__oPoints__observations__complete                   NaN
fields__oSets__oPoints__observations__disabled                   NaN
fields__oSets__oPoints__observations__eVnum                      NaN
fields__oSets__oPoints__observations__enum                       NaN
fields__oSets__oPoints__observations__id                           3
fields__oSets__oPoints__observations__name       Aphid Observation 4
fields__oSets__oPoints__observations__|                          NaN
fields__oSets__oPoints__observations__|__number                  NaN

Worksheet Name                                                        \
Worksheet Row                                                   4
fields__oSets__oPoints__observations__anum                         0
fields__oSets__oPoints__observations__complete                   NaN
fields__oSets__oPoints__observations__disabled                   NaN
fields__oSets__oPoints__observations__eVnum                      NaN
fields__oSets__oPoints__observations__enum                       NaN
fields__oSets__oPoints__observations__id                           4
fields__oSets__oPoints__observations__name       Aphid Observation 5
fields__oSets__oPoints__observations__|                          NaN
fields__oSets__oPoints__observations__|__number                  NaN

Worksheet Name                                                              \
Worksheet Row                                                         5
fields__oSets__oPoints__observations__anum                             NaN
fields__oSets__oPoints__observations__complete                           1
fields__oSets__oPoints__observations__disabled                         NaN
fields__oSets__oPoints__observations__eVnum                              0
fields__oSets__oPoints__observations__enum                               0
fields__oSets__oPoints__observations__id                                 5
fields__oSets__oPoints__observations__name       Natural Enemy Observation
fields__oSets__oPoints__observations__|                                 e1
fields__oSets__oPoints__observations__|__number                        NaN

Worksheet Name                                                      ...   \
Worksheet Row                                   6    7    8    9    ...
fields__oSets__oPoints__observations__anum       NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__complete   NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__disabled   NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__eVnum      NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__enum       NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__id         NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__name       NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__|           e2   e3   e4   e5 ...
fields__oSets__oPoints__observations__|__number  NaN  NaN  NaN  NaN ...

Worksheet Name                                                  Tyler  \
Worksheet Row                                                    3770
fields__oSets__oPoints__observations__anum                          0
fields__oSets__oPoints__observations__complete                      1
fields__oSets__oPoints__observations__disabled                    NaN
fields__oSets__oPoints__observations__eVnum                       NaN
fields__oSets__oPoints__observations__enum                        NaN
fields__oSets__oPoints__observations__id                            4
fields__oSets__oPoints__observations__name       Aphid Observation 25
fields__oSets__oPoints__observations__|                           NaN
fields__oSets__oPoints__observations__|__number                   NaN

Worksheet Name                                                              \
Worksheet Row                                                         3771
fields__oSets__oPoints__observations__anum                             NaN
fields__oSets__oPoints__observations__complete                           1
fields__oSets__oPoints__observations__disabled                         NaN
fields__oSets__oPoints__observations__eVnum                              0
fields__oSets__oPoints__observations__enum                               0
fields__oSets__oPoints__observations__id                                 5
fields__oSets__oPoints__observations__name       Natural Enemy Observation
fields__oSets__oPoints__observations__|                                 e1
fields__oSets__oPoints__observations__|__number                        NaN

Worksheet Name                                                                 \
Worksheet Row                                   3772 3773 3774 3775 3776 3777
fields__oSets__oPoints__observations__anum       NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__complete   NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__disabled   NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__eVnum      NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__enum       NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__id         NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__name       NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__|           e2   e3   e4   e5   e6   e7
fields__oSets__oPoints__observations__|__number  NaN  NaN  NaN  NaN  NaN  NaN

Worksheet Name
Worksheet Row                                   3778 3779
fields__oSets__oPoints__observations__anum       NaN  NaN
fields__oSets__oPoints__observations__complete   NaN  NaN
fields__oSets__oPoints__observations__disabled   NaN  NaN
fields__oSets__oPoints__observations__eVnum      NaN  NaN
fields__oSets__oPoints__observations__enum       NaN  NaN
fields__oSets__oPoints__observations__id         NaN  NaN
fields__oSets__oPoints__observations__name       NaN  NaN
fields__oSets__oPoints__observations__|           e8   e9
fields__oSets__oPoints__observations__|__number  NaN  NaN

[9 rows x 4690 columns]

If you have the actual columns, just view those as a DataFrame:

In [160]:
pandas.DataFrame(
    get_child_column_data(observations_node) + 
    get_child_column_data(observations_ext_node)
)

Worksheet Name                                                   Erl  \
Worksheet Row                                                   0
fields__oSets__oPoints__observations__anum                         0
fields__oSets__oPoints__observations__complete                   NaN
fields__oSets__oPoints__observations__disabled                   NaN
fields__oSets__oPoints__observations__eVnum                      NaN
fields__oSets__oPoints__observations__enum                       NaN
fields__oSets__oPoints__observations__id                           0
fields__oSets__oPoints__observations__name       Aphid Observation 1
fields__oSets__oPoints__observations__|                          NaN
fields__oSets__oPoints__observations__|__number                  NaN

Worksheet Name                                                        \
Worksheet Row                                                   1
fields__oSets__oPoints__observations__anum                         0
fields__oSets__oPoints__observations__complete                   NaN
fields__oSets__oPoints__observations__disabled                   NaN
fields__oSets__oPoints__observations__eVnum                      NaN
fields__oSets__oPoints__observations__enum                       NaN
fields__oSets__oPoints__observations__id                           1
fields__oSets__oPoints__observations__name       Aphid Observation 2
fields__oSets__oPoints__observations__|                          NaN
fields__oSets__oPoints__observations__|__number                  NaN

Worksheet Name                                                        \
Worksheet Row                                                   2
fields__oSets__oPoints__observations__anum                         0
fields__oSets__oPoints__observations__complete                   NaN
fields__oSets__oPoints__observations__disabled                   NaN
fields__oSets__oPoints__observations__eVnum                      NaN
fields__oSets__oPoints__observations__enum                       NaN
fields__oSets__oPoints__observations__id                           2
fields__oSets__oPoints__observations__name       Aphid Observation 3
fields__oSets__oPoints__observations__|                          NaN
fields__oSets__oPoints__observations__|__number                  NaN

Worksheet Name                                                        \
Worksheet Row                                                   3
fields__oSets__oPoints__observations__anum                         0
fields__oSets__oPoints__observations__complete                   NaN
fields__oSets__oPoints__observations__disabled                   NaN
fields__oSets__oPoints__observations__eVnum                      NaN
fields__oSets__oPoints__observations__enum                       NaN
fields__oSets__oPoints__observations__id                           3
fields__oSets__oPoints__observations__name       Aphid Observation 4
fields__oSets__oPoints__observations__|                          NaN
fields__oSets__oPoints__observations__|__number                  NaN

Worksheet Name                                                        \
Worksheet Row                                                   4
fields__oSets__oPoints__observations__anum                         0
fields__oSets__oPoints__observations__complete                   NaN
fields__oSets__oPoints__observations__disabled                   NaN
fields__oSets__oPoints__observations__eVnum                      NaN
fields__oSets__oPoints__observations__enum                       NaN
fields__oSets__oPoints__observations__id                           4
fields__oSets__oPoints__observations__name       Aphid Observation 5
fields__oSets__oPoints__observations__|                          NaN
fields__oSets__oPoints__observations__|__number                  NaN

Worksheet Name                                                              \
Worksheet Row                                                         5
fields__oSets__oPoints__observations__anum                             NaN
fields__oSets__oPoints__observations__complete                           1
fields__oSets__oPoints__observations__disabled                         NaN
fields__oSets__oPoints__observations__eVnum                              0
fields__oSets__oPoints__observations__enum                               0
fields__oSets__oPoints__observations__id                                 5
fields__oSets__oPoints__observations__name       Natural Enemy Observation
fields__oSets__oPoints__observations__|                                 e1
fields__oSets__oPoints__observations__|__number                        NaN

Worksheet Name                                                      ...   \
Worksheet Row                                   6    7    8    9    ...
fields__oSets__oPoints__observations__anum       NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__complete   NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__disabled   NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__eVnum      NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__enum       NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__id         NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__name       NaN  NaN  NaN  NaN ...
fields__oSets__oPoints__observations__|           e2   e3   e4   e5 ...
fields__oSets__oPoints__observations__|__number  NaN  NaN  NaN  NaN ...

Worksheet Name                                                  Tyler  \
Worksheet Row                                                    3770
fields__oSets__oPoints__observations__anum                          0
fields__oSets__oPoints__observations__complete                      1
fields__oSets__oPoints__observations__disabled                    NaN
fields__oSets__oPoints__observations__eVnum                       NaN
fields__oSets__oPoints__observations__enum                        NaN
fields__oSets__oPoints__observations__id                            4
fields__oSets__oPoints__observations__name       Aphid Observation 25
fields__oSets__oPoints__observations__|                           NaN
fields__oSets__oPoints__observations__|__number                   NaN

Worksheet Name                                                              \
Worksheet Row                                                         3771
fields__oSets__oPoints__observations__anum                             NaN
fields__oSets__oPoints__observations__complete                           1
fields__oSets__oPoints__observations__disabled                         NaN
fields__oSets__oPoints__observations__eVnum                              0
fields__oSets__oPoints__observations__enum                               0
fields__oSets__oPoints__observations__id                                 5
fields__oSets__oPoints__observations__name       Natural Enemy Observation
fields__oSets__oPoints__observations__|                                 e1
fields__oSets__oPoints__observations__|__number                        NaN

Worksheet Name                                                                 \
Worksheet Row                                   3772 3773 3774 3775 3776 3777
fields__oSets__oPoints__observations__anum       NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__complete   NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__disabled   NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__eVnum      NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__enum       NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__id         NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__name       NaN  NaN  NaN  NaN  NaN  NaN
fields__oSets__oPoints__observations__|           e2   e3   e4   e5   e6   e7
fields__oSets__oPoints__observations__|__number  NaN  NaN  NaN  NaN  NaN  NaN

Worksheet Name
Worksheet Row                                   3778 3779
fields__oSets__oPoints__observations__anum       NaN  NaN
fields__oSets__oPoints__observations__complete   NaN  NaN
fields__oSets__oPoints__observations__disabled   NaN  NaN
fields__oSets__oPoints__observations__eVnum      NaN  NaN
fields__oSets__oPoints__observations__enum       NaN  NaN
fields__oSets__oPoints__observations__id         NaN  NaN
fields__oSets__oPoints__observations__name       NaN  NaN
fields__oSets__oPoints__observations__|           e8   e9
fields__oSets__oPoints__observations__|__number  NaN  NaN

[9 rows x 4690 columns]

Now you can easily get a list of columns or column names and access them from the `DataFrame`. You can make things even more intuitive by making a function for returning a `DataFrame`, so you don't have to re-compose the expression each time.

#### Define Function: `get_child_frame(node, frame=None)`

With the list of columns, or column names, it's easy to get a `DataFrame` with only the desired columns:

If the `DataFrame` is supplied, the columns are selected from it by name.

If no frame is provided, the function makes a new one from the columns found in the tree.

In [161]:
def get_child_frame(node: dict, frame: pandas.DataFrame = None) -> pandas.DataFrame:
    if frame is not None:
        return frame[get_child_column_names(node)]
    return pandas.DataFrame(data=get_child_column_data(node)).T

#### Define Functions: `get_descendant_frame(node, frame=None)`

This one is similar to `get_child_frame(node, frame=None)`, except the order of the columns in preserved (if `frame` is provided for reference).

In [162]:
def get_descendant_frame(node, frame=None):
    """ Get all columns that are descendants of the given node. If `frame` is provided,
    use it for lookup by name instead of the actual Series in the tree. """
    descendant_column_data = recursive_get_column_data(node)
    if frame is None:
        return pandas.DataFrame(data=list(descendant_column_data)).T
    else:
        return frame[[column.name for column in descendant_column_data]]

Now, all columns at all levels of a group can be accessed in a frame on demand.

In [163]:
get_descendant_frame(observations_node, data).info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4690 entries, (Erl, 0) to (Tyler, 3779)
Data columns (total 12 columns):
fields__oSets__oPoints__observations__a1__number    448 non-null float64
fields__oSets__oPoints__observations__a2__number    142 non-null float64
fields__oSets__oPoints__observations__a3__number    25 non-null float64
fields__oSets__oPoints__observations__anum          1675 non-null float64
fields__oSets__oPoints__observations__complete      1937 non-null float64
fields__oSets__oPoints__observations__disabled      0 non-null float64
fields__oSets__oPoints__observations__eVnum         335 non-null float64
fields__oSets__oPoints__observations__enum          335 non-null float64
fields__oSets__oPoints__observations__id            2010 non-null float64
fields__oSets__oPoints__observations__name          2010 non-null object
fields__oSets__oPoints__observations__|             3015 non-null object
fields__oSets__oPoints__observations__|__number     172 non-null float64
dtypes: float64(10), object(2)
memory usage: 643.2+ KB

### Find Rows in a Section

When detecting boundaries of sections for a given group of columns, it's helpful to drop empty rows and retain only relevant data for relating to the sub-section data.

#### Drop Missing Values from a Series

We can begin by choosing a column that always has a value at the start of a section.

If we want to skip over blanks as we scan down a column, _pandas_ has a [`dropna()`] method for that.

Even if we filter out some values from that column, such as missing values, the row number will still be attached to the value in that series.

[`dropna()`]: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html

##### Before:

In [164]:
sets_node['date'][DATA].head(12)

Worksheet Name  Worksheet Row
Erl             0                2017-08-02T13:12:09.542
                1                                    NaN
                2                                    NaN
                3                                    NaN
                4                                    NaN
                5                                    NaN
                6                                    NaN
                7                                    NaN
                8                                    NaN
                9                                    NaN
                10                                   NaN
                11                                   NaN
Name: fields__oSets__date, dtype: object

##### After:

In [165]:
sets_node['date'][DATA].dropna().head(12)

Worksheet Name  Worksheet Row
Erl             0                2017-08-02T13:12:09.542
                70               2017-08-09T09:25:11.710
                140              2017-08-09T10:06:25.480
                210              2017-08-09T11:21:01.555
                350              2017-08-09T11:37:20.862
                490              2017-08-22T15:42:05.751
                560              2017-08-17T11:12:02.820
                700              2017-08-17T13:06:30.183
                840              2017-08-22T16:02:50.682
Tyler           0                2017-07-14T12:31:24.194
                70               2017-07-18T10:31:22.263
                140              2017-07-28T13:05:44.673
Name: fields__oSets__date, dtype: object

So much better!

We now have enough information to find the beginning of chunks in the sheet by scanning for non-blank cells. We have row numbers for each of the non-null records of that column, which we can use to identify the end of the previous section and start of the next.

#### Filter Rows by Condition

We filtered a single column with `dropna()`, but what about when we're operating on some columns that _may_ be null, plus certain ones that _must not_ be null? We need a way of skipping irrelevant rows, without checking all possible columns.

_pandas_ has a way to filter entire rows conditionally, which is sometimes called [boolean indexing] because the expression for the condition is either `True` or `False`. Common examples include testing whether the value in a certain column drops below a certain threshold. In our case, we'd test whether the value in a certain column is missing or present.


[boolean indexing]: https://pandas.pydata.org/pandas-docs/stable/10min.html#boolean-indexing

Let's take `fields__oSets` for example.

In [166]:
# sets_node = columns['fields']['oSets']
sets = get_child_frame(sets_node, data)

We want to use the `date` column as the crucial record, because it should never be null. (Other values in the relevant columns _may_ be null, but _must be included_ when reading anyways.)

In this case, _pandas_ expects the actual [`Series`] itself, rather than just the name of the column to check. (A _pandas_ [`DataFrame`] is a collection of [`Series`] objects.)

We already have that column data object in the hierarchy from earlier:

[`Series`]: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html
[`DataFrame`]: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [167]:
date_column = sets_node['date'][DATA]
type(date_column)

pandas.core.series.Series

##### Before:

In [168]:
sets.head(12)

                              fields__oSets__completeSets  \
Worksheet Name Worksheet Row
Erl            0                                      0.0
               1                                      NaN
               2                                      NaN
               3                                      NaN
               4                                      NaN
               5                                      NaN
               6                                      NaN
               7                                      NaN
               8                                      NaN
               9                                      NaN
               10                                     NaN
               11                                     NaN

                                  fields__oSets__date  \
Worksheet Name Worksheet Row
Erl            0              2017-08-02T13:12:09.542
               1                                  NaN
               2                                  NaN
               3                                  NaN
               4                                  NaN
               5                                  NaN
               6                                  NaN
               7                                  NaN
               8                                  NaN
               9                                  NaN
               10                                 NaN
               11                                 NaN

                             fields__oSets__dateCompare  fields__oSets__desc  \
Worksheet Name Worksheet Row
Erl            0                             2017-08-02                  NaN
               1                                    NaT                  NaN
               2                                    NaT                  NaN
               3                                    NaT                  NaN
               4                                    NaT                  NaN
               5                                    NaT                  NaN
               6                                    NaT                  NaN
               7                                    NaT                  NaN
               8                                    NaT                  NaN
               9                                    NaT                  NaN
               10                                   NaT                  NaN
               11                                   NaT                  NaN

                              fields__oSets__growthStage  \
Worksheet Name Worksheet Row
Erl            0                                     7.0
               1                                     NaN
               2                                     NaN
               3                                     NaN
               4                                     NaN
               5                                     NaN
               6                                     NaN
               7                                     NaN
               8                                     NaN
               9                                     NaN
               10                                    NaN
               11                                    NaN

                             fields__oSets__obsName fields__oSets__results  \
Worksheet Name Worksheet Row
Erl            0                              Tyler                    NaN
               1                                NaN                    NaN
               2                                NaN                    NaN
               3                                NaN                    NaN
               4                                NaN                    NaN
               5                                NaN                    NaN
               6                                NaN                    NaN
               7                                NaN                    NaN
               8                                NaN                    NaN
               9                                NaN                    NaN
               10                               NaN                    NaN
               11                               NaN                    NaN

                              fields__oSets__totalA1  fields__oSets__totalA2  \
Worksheet Name Worksheet Row
Erl            0                                 NaN                     NaN
               1                                 NaN                     NaN
               2                                 NaN                     NaN
               3                                 NaN                     NaN
               4                                 NaN                     NaN
               5                                 NaN                     NaN
               6                                 NaN                     NaN
               7                                 NaN                     NaN
               8                                 NaN                     NaN
               9                                 NaN                     NaN
               10                                NaN                     NaN
               11                                NaN                     NaN

                              fields__oSets__totalA3  fields__oSets__totalA4  \
Worksheet Name Worksheet Row
Erl            0                                 NaN                     NaN
               1                                 NaN                     NaN
               2                                 NaN                     NaN
               3                                 NaN                     NaN
               4                                 NaN                     NaN
               5                                 NaN                     NaN
               6                                 NaN                     NaN
               7                                 NaN                     NaN
               8                                 NaN                     NaN
               9                                 NaN                     NaN
               10                                NaN                     NaN
               11                                NaN                     NaN

                              fields__oSets__totalSets
Worksheet Name Worksheet Row
Erl            0                                   1.0
               1                                   NaN
               2                                   NaN
               3                                   NaN
               4                                   NaN
               5                                   NaN
               6                                   NaN
               7                                   NaN
               8                                   NaN
               9                                   NaN
               10                                  NaN
               11                                  NaN

Passing a check for whether the value in the Series [is not null] to _pandas_, as well as specifying the column names we want to get:

[is not null]: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.notna.html

##### After:

In [169]:
sets = sets[date_column.notnull()]
sets.head(12)

                              fields__oSets__completeSets  \
Worksheet Name Worksheet Row
Erl            0                                      0.0
               70                                     1.0
               140                                    1.0
               210                                    2.0
               350                                    2.0
               490                                    1.0
               560                                    2.0
               700                                    2.0
               840                                    1.0
Tyler          0                                      0.0
               70                                     1.0
               140                                    1.0

                                  fields__oSets__date  \
Worksheet Name Worksheet Row
Erl            0              2017-08-02T13:12:09.542
               70             2017-08-09T09:25:11.710
               140            2017-08-09T10:06:25.480
               210            2017-08-09T11:21:01.555
               350            2017-08-09T11:37:20.862
               490            2017-08-22T15:42:05.751
               560            2017-08-17T11:12:02.820
               700            2017-08-17T13:06:30.183
               840            2017-08-22T16:02:50.682
Tyler          0              2017-07-14T12:31:24.194
               70             2017-07-18T10:31:22.263
               140            2017-07-28T13:05:44.673

                             fields__oSets__dateCompare  fields__oSets__desc  \
Worksheet Name Worksheet Row
Erl            0                             2017-08-02                  NaN
               70                            2017-08-09                  NaN
               140                           2017-08-09                  NaN
               210                           2017-08-09                  NaN
               350                           2017-08-09                  NaN
               490                           2017-08-22                  NaN
               560                           2017-08-17                  NaN
               700                           2017-08-17                  NaN
               840                           2017-08-22                  NaN
Tyler          0                             2017-07-14                  NaN
               70                            2017-07-18                  NaN
               140                           2017-07-28                  NaN

                              fields__oSets__growthStage  \
Worksheet Name Worksheet Row
Erl            0                                     7.0
               70                                    8.0
               140                                   7.0
               210                                   9.0
               350                                   8.0
               490                                   8.0
               560                                   8.0
               700                                   9.0
               840                                   8.0
Tyler          0                                     6.0
               70                                    6.0
               140                                   8.0

                             fields__oSets__obsName fields__oSets__results  \
Worksheet Name Worksheet Row
Erl            0                              Tyler                    NaN
               70                             Tyler              RESULTS.5
               140                            Tyler              RESULTS.5
               210                            Stean              RESULTS.1
               350                            Stean              RESULTS.1
               490                            Mikki              RESULTS.5
               560                        Gabrielle              RESULTS.1
               700                            Stean              RESULTS.1
               840                            Mikki              RESULTS.5
Tyler          0                              Tyler                    NaN
               70                             Tyler              RESULTS.5
               140                            Mikki              RESULTS.5

                              fields__oSets__totalA1  fields__oSets__totalA2  \
Worksheet Name Worksheet Row
Erl            0                                 NaN                     NaN
               70                              164.0                     0.0
               140                              66.0                     0.0
               210                               0.0                     0.0
               350                               5.0                     5.0
               490                               1.0                     0.0
               560                             169.0                    96.0
               700                              78.0                   102.0
               840                             187.0                     0.0
Tyler          0                                 NaN                     NaN
               70                                8.0                     0.0
               140                              37.0                     0.0

                              fields__oSets__totalA3  fields__oSets__totalA4  \
Worksheet Name Worksheet Row
Erl            0                                 NaN                     NaN
               70                                0.0                     0.0
               140                               0.0                     0.0
               210                               0.0                     0.0
               350                               0.0                     0.0
               490                               0.0                     0.0
               560                               0.0                     0.0
               700                               0.0                     0.0
               840                               0.0                     0.0
Tyler          0                                 NaN                     NaN
               70                                0.0                     0.0
               140                               0.0                     0.0

                              fields__oSets__totalSets
Worksheet Name Worksheet Row
Erl            0                                   1.0
               70                                  1.0
               140                                 1.0
               210                                 2.0
               350                                 2.0
               490                                 1.0
               560                                 2.0
               700                                 2.0
               840                                 1.0
Tyler          0                                   1.0
               70                                  1.0
               140                                 1.0

Now, we can repeat this technique to get all the other data sections!

In [170]:
crop = fields_node['crop'][DATA]

In [171]:
fields_frame = get_child_frame(fields_node, data)[crop.notnull()]

In [172]:
fields_frame.head(10)

                              fields__crop             fields__date  \
Worksheet Name Worksheet Row
Erl            70              CROPS.WHEAT  2017-08-09T09:24:11.845
               140             CROPS.WHEAT  2017-08-09T10:01:29.326
               210            CROPS.BARLEY  2017-08-09T11:16:15.922
               350              CROPS.OATS  2017-08-09T11:17:15.791
               490             CROPS.WHEAT  2017-08-10T14:27:04.887
               560             CROPS.WHEAT  2017-08-17T11:10:41.881
               700             CROPS.WHEAT  2017-08-17T13:05:51.122
               840             CROPS.WHEAT  2017-08-22T16:01:41.018
Tyler          0               CROPS.WHEAT  2017-07-14T12:30:31.587
               350            CROPS.BARLEY  2017-07-18T10:46:49.163

                                                                   fields__desc  \
Worksheet Name Worksheet Row
Erl            70                               Midge susceptible wheat. Awned.
               140                        Early planted awned midge susceptible
               210                       Next to SEF Wheat and near faba beans
               350                           Next to SEF peas and a wheat field
               490                                            Kernen cover crop
               560            Wheat 2 by canola and soybeans but on other si...
               700                                  Next to soybeans and canola
               840                                                          NaN
Tyler          0                                                            NaN
               350                                      Right next to SEF wheat

                               fields__image       fields__name
Worksheet Name Worksheet Row
Erl            70              img/wheat.png  Llewellyn wheat 1
               140             img/wheat.png          Llewellyn
               210            img/barley.png         SEF Barley
               350              img/oats.png           SEF Oats
               490             img/wheat.png       Kernen wheat
               560             img/wheat.png      Outlook wheat
               700             img/wheat.png    Outlook wheat 1
               840             img/wheat.png     Kernan Wheat-1
Tyler          0               img/wheat.png          Sef wheat
               350            img/barley.png        SEF Barley

## Goal: Transform Data for Target

### Overview of Transformation Steps

As we go from top to bottom of the `DataFrame`, we:

0. Identify the beginning rows of the sections
0. Begin at the first section
0. Read in the current section data
0. Continue on to the subsections
0. Continue to the next section in the DataFrame

While reading each section:

0. Start a new `DataFrame`
0. Transform section data to meet target requirements
0. Keep transformed section data in `DataFrame`

After transforming all the data:

0. Save the new `DataFrame` as Excel file

### Define the Target Requirements

The researcher who will use this data, Tyler, wants an Excel spreadsheet file.

Tyler has been using a column arrangement like this in the past, and envisions similar output from this data set:

- Site
- Crop
- Date
- Field
- Zadoks_stage
- Tiller
- EGA_total
- BCO_total
- aphids_total
- Enemies_total
- aphid_mummies_brown
- aphid_mummies_blk
- ladybeetle_larvae
- ladybeetle_adult
- ladybeetle_total
- lacewing_larvae
- lacewing_adult
- other
- comments

I've looked at a few other spreadsheets, and talked with Tyler about how the output is used. Our discussion makes a few more specifics apparent.

- date & time
  - human readable, with month name (calculated)
  - precise date & time, for machine sorting
- location
  - site or field name
  - any descriptive comments, such as location details within the main field on site
  - unique identifier (calculated)
- observed data
  - number of ahpids of each type
  - number of natural enemies of each type
  - names of aphids and natural enemies (augmented)
- observation metadata
  - technique, eg: sweep, tiller count, other
  - technique parameters, eg: distance from edge, number of repetitions, location co-ordinates

### Analyze Section Structure

To understand what transformations may be necessary, we should take a look at each section and subsection in terms of what data is there and how it's laid out.

For each section, I'd like to open with a summary. 

If any of these exist, let's see:

- Description of the data series at this level
- Names of all related data series grouped here, one level deep
- Names of all subsections that go deeper than one level

Whenever the data in the source `DataFrame` needs transformation to meet the target's needs, the appropriate steps will be demonstrated.

#### Define Function: `summarize_node(node)`

Rather than repeating the same commands for each section, let's make a function that does all that, so we can just call it once for each section.

In [173]:
def summarize_node(node):
    grandchildren = get_grandchild_nodes(node)
    if grandchildren:
        visualize_tree(node, show_leaf_nodes=False)

    child_data = get_child_data_nodes(node)
    if child_data:
        display(heading("Child Series"),
                pandas.DataFrame(get_child_column_data(node)).T.describe().T)

    if grandchildren:
        subsection_summary = pandas.DataFrame(
            index=pandas.Index(data=grandchildren.keys()),
            data={"columns": [
                len(get_descendant_frame(subsection).columns) 
                for subsection in grandchildren.values()]}
        )
        display(heading("Subsections"),
                subsection_summary)
        
    if has_data(node):
        display(heading("Series"),
            node[DATA].describe().to_frame().T)

#### Analytical Results

The results of analyzing all sections in the file are in the [Appendix: Source App Data Structure].

[Appendix: Source App Data Structure]: #Appendix:-Source-App-Data-Structure

After examining each section, we now know:

- Some data, such as the natural enemy counts, may require transposition, since they use columns and rows in opposite ways.
- Some data needs to be augmented with external lists, such as the names of the aphids and natural enemies.
- Some columns don't exist, and must be calculated.
- Some data needs to be reformatted.
- Some columns may be entirely unneeded.

### Transformations

#### Proposed Transformations & Augmentations

- natural enemies:
    - should be transposed to columns
    - should be renamed with proper specimen names
- aphids:
    - should be renamed with proper specimen names

#### Proposed Calculations

- observation sets:
    - should display name of the month
    - should display the date, without time
    - should display time, without date
    - should display unique, sortable date number (your number concatenated with day of year, or days since 2014)
    - should display week number
    - should display unique location identifier combining client/site, field, field description
    - should mention that these observations are based on tiller counts

# Appendix: Source App Data Structure

In [175]:
visualize_tree(columns)

clients/
.   * company
.   * displayText
.   * fname
.   * lname
.   * name
fields/
.   client/
.   .   * company
.   .   * displayText
.   .   * fname
.   .   * lname
.   .   * name
.   * crop
.   * date
.   * desc
.   * image
.   * name
.   oSets/
.   .   * completeSets
.   .   * date
.   .   * dateCompare
.   .   * desc
.   .   * growthStage
.   .   oPoints/
.   .   .   * id
.   .   .   location/
.   .   .   .   coords/
.   .   .   .   .   * accuracy
.   .   .   .   .   * altitude
.   .   .   .   .   * altitudeAccuracy
.   .   .   .   .   * heading
.   .   .   .   .   * latitude
.   .   .   .   .   * longitude
.   .   .   .   .   * speed
.   .   .   .   * timestamp
.   .   .   * name
.   .   .   observations/
.   .   .   .   a1/
.   .   .   .   .   * number
.   .   .   .   a2/
.   .   .   .   .   * number
.   .   .   .   a3/
.   .   .   .   .   * number
.   .   .   .   * anum
.   .   .   .   * complete
.   .   .   .   * disabled
.   .   .   .   * eVnum
.   .   .   .   * enum
.   .   .   .   * id
.   .   .   .   * name
.   .   .   .   * |/
.   .   .   .   .   * number
.   .   * obsName
.   .   * results
.   .   * totalA1
.   .   * totalA2
.   .   * totalA3
.   .   * totalA4
.   .   * totalSets
* observers

## Section: `fields`

In [176]:
fields_node = columns['fields']
summarize_node(fields_node)

client/
oSets/
.   oPoints/
.   .   location/
.   .   .   coords/
.   .   observations/
.   .   .   a1/
.   .   .   a2/
.   .   .   a3/
.   .   .   * |/

              count unique                          top freq
fields__crop     21      3                  CROPS.WHEAT   15
fields__date     21     21      2017-07-19T10:21:45.036    1
fields__desc     15     15  Next to soybeans and canola    1
fields__image    21      3                img/wheat.png   15
fields__name     21     19                     SEF Oats    2

        columns
client        5
oSets        34

### Relationship

- `fields` group of columns includes all necessary data for all observations
- Concepts of crop and field are tightly dependant, in a one-to-many relationship:
  - All fields have exactly one crop.
  - No two crops can be represented as part of the same field.
  - If a field in real life is planted with a different crop in the future,
    it cannot be represented as the same field with a different crop in the app.
- `fields__date` is independant and non-ancillary:
  - Not used—has no effect
- No location data for field:
  - Location data for observations can't be correlated with any field record, except implicitly.

### Subsection `fields` > `client`

In [177]:
field_client_node = fields_node['client']
summarize_node(field_client_node)

                            count unique                    top freq
fields__client__company        21      1              AAFC SRDC   21
fields__client__displayText    21      1  AAFC SRDC, Tyler Wist   21
fields__client__fname          21      1                  Tyler   21
fields__client__lname          21      1                   Wist   21
fields__client__name           21      1             Tyler Wist   21

#### Relationship

- Client data copied from `clients` records when `fields` record is created.

### Subsection `fields` > `oSets`

In [178]:
osets_node = fields_node['oSets']
summarize_node(osets_node)

oPoints/
.   location/
.   .   coords/
.   observations/
.   .   a1/
.   .   a2/
.   .   a3/
.   .   * |/

                            count unique                      top freq
fields__oSets__completeSets    54      3                        1   38
fields__oSets__date            54     54  2017-08-01T15:27:40.174    1
fields__oSets__dateCompare     54     16      1501545600000000000    7
fields__oSets__desc             0      0                      NaN  NaN
fields__oSets__growthStage     54      6                        8   22
fields__oSets__obsName         54      4                    Stean   28
fields__oSets__results         52      2                RESULTS.5   42
fields__oSets__totalA1         52     36                        0   10
fields__oSets__totalA2         52     11                        0   41
fields__oSets__totalA3         52      1                        0   52
fields__oSets__totalA4         52      1                        0   52
fields__oSets__totalSets       54      2                        1   41

         columns
oPoints       22

#### Relationship

This is essentially the root record level for observations, with observation data also being associated with physical points, each having their own records in subsections.

- The identity of the field and location associated with the observation events is determined by the parent record in which `oSets` sets is nested.

- The columns `fields__oSets__date` and `fields__oSets__dateCompare` are believed to be expressions of the same time. These times are not related to the ones in the `oPoints` > `location` records.

- `fields__oSets__totalA1` through `fields__oSets__totalA4` are calculated from subsection data

- `fields__oSets__results` stores references to data that isn't exported

#### Information

- `growthStage` refers to the [Zadoks scale] of cereal development.

[Zadoks scale]: https://en.wikipedia.org/wiki/Cereal_growth_staging_scales#Zadoks_scale

### Subsection `fields` > `oSets` > `oPoints`

In [179]:
opoints_node = osets_node['oPoints']
summarize_node(opoints_node)

location/
.   coords/
observations/
.   a1/
.   a2/
.   a3/
.   * |/

                             count unique                  top freq
fields__oSets__oPoints__id     335     10                    4   54
fields__oSets__oPoints__name   335     10  Observation Point 5   54

              columns
location            8
observations       12

#### Relationship

Correlates observation events with time and place.

Nested here are individual observation records, all of which are associated with the location record for the given point.

The identity of the field, and the local time of the observation events, are determined by the parent records (`oSets`, `fields`).

#### Subsection `fields` > `oSets` > `oPoints` > `location`

In [180]:
location_node = opoints_node['location']
summarize_node(location_node)

coords/

,count,mean,std,min,25%,50%,75%,max
fields__oSets__oPoints__location__timestamp,250.0,1.501778e+12,9.954846e+08,1.500323e+12,1.501270e+12,1.501625e+12,1.502301e+12,1.503439e+12

        columns
coords        7

##### Subsection `fields` > `oSets` > `oPoints` > `location` > `coords`

In [181]:
coords_node = location_node['coords']
summarize_node(coords_node)

,count,mean,std,min,25%,50%,75%,max
fields__oSets__oPoints__location__coords__accuracy,250.0,77.003397,47.252234,5.000000,59.042601,65.000000,65.000000,165.000000
fields__oSets__oPoints__location__coords__altitude,250.0,505.803212,8.296321,498.000000,503.000031,505.323465,505.717979,546.396362
fields__oSets__oPoints__location__coords__altitudeAccuracy,250.0,10.834109,6.801868,3.375000,3.400946,10.000000,14.624069,36.000000
fields__oSets__oPoints__location__coords__heading,247.0,5.953821,35.832049,-1.000000,-1.000000,-1.000000,-1.000000,189.843750
fields__oSets__oPoints__location__coords__latitude,250.0,52.123950,0.124693,51.480568,52.143621,52.150754,52.151051,52.155109
fields__oSets__oPoints__location__coords__longitude,250.0,-106.592416,0.090977,-107.047006,-106.573893,-106.573346,-106.570922,-106.539991
fields__oSets__oPoints__location__coords__speed,250.0,-0.943000,0.255464,-1.000000,-1.000000,-1.000000,-1.000000,0.250000

#### Subsection `fields` > `oSets` > `oPoints` > `observations`

In [182]:
observations_node = opoints_node['observations']
summarize_node(observations_node)

a1/
a2/
a3/
* |/

,count,unique,top,freq
fields__oSets__oPoints__observations__anum,1675,53,0,1164
fields__oSets__oPoints__observations__complete,1937,1,1,1937
fields__oSets__oPoints__observations__disabled,0,0,NaN,NaN
fields__oSets__oPoints__observations__eVnum,335,43,0,259
fields__oSets__oPoints__observations__enum,335,19,0,259
fields__oSets__oPoints__observations__id,2010,6,5,335
fields__oSets__oPoints__observations__name,2010,51,Natural Enemy Observation,335
fields__oSets__oPoints__observations__|,3015,9,e9,335

    columns
a1        1
a2        1
a3        1
|         2

##### `a1`, `a2`, `a3`, & `|` (natural enemies)

In [183]:
for child in get_grandchild_nodes(observations_node).values():
    summarize_node(child)

,count,mean,std,min,25%,50%,75%,max
fields__oSets__oPoints__observations__a1__number,448.0,8.203125,11.915485,0.0,2.0,3.5,9.0,78.0

,count,mean,std,min,25%,50%,75%,max
fields__oSets__oPoints__observations__a2__number,142.0,3.591549,5.012261,0.0,1.0,2.0,3.0,28.0

,count,mean,std,min,25%,50%,75%,max
fields__oSets__oPoints__observations__a3__number,25.0,2.52,2.329521,0.0,1.0,1.0,4.0,10.0

,count,mean,std,min,25%,50%,75%,max
fields__oSets__oPoints__observations__|__number,172.0,3.488372,4.708445,0.0,1.0,1.0,4.0,28.0

                                        count unique top freq
fields__oSets__oPoints__observations__|  3015      9  e9  335

##### Information

###### Aphids

The `a1` part of `fields__oSets__oPoints__observations__a1__number` represents an identifier for the taxon (classification) of aphid. So as with `a2`, `a3`, and `a4`.

###### Aphid identifiers:

1. ?
2. ?
3. ?
4. ?

###### Natural Enemies

In [184]:
get_descendant_frame(observations_ext_node, data)[observations_ext_node['number'][DATA].notnull()]

                             fields__oSets__oPoints__observations__|  \
Worksheet Name Worksheet Row
Erl            90                                                 e2
               94                                                 e6
               96                                                 e8
               104                                                e2
               110                                                e8
               118                                                e2
               132                                                e2
               136                                                e6
               145                                                e1
               152                                                e8
               160                                                e2
               166                                                e8
               502                                                e8
               509                                                e1
               544                                                e8
               558                                                e8
               572                                                e8
               586                                                e8
               587                                                e9
               593                                                e1
               600                                                e8
               601                                                e9
               614                                                e8
               621                                                e1
               628                                                e8
               629                                                e9
               642                                                e8
               643                                                e9
               651                                                e3
               656                                                e8
...                                                              ...
Tyler          3589                                               e1
               3596                                               e8
               3610                                               e8
               3624                                               e8
               3631                                               e1
               3638                                               e8
               3646                                               e2
               3659                                               e1
               3660                                               e2
               3661                                               e3
               3662                                               e4
               3663                                               e5
               3664                                               e6
               3674                                               e2
               3675                                               e3
               3677                                               e5
               3680                                               e8
               3681                                               e9
               3687                                               e1
               3688                                               e2
               3701                                               e1
               3702                                               e2
               3703                                               e3
               3704                                               e4
               3705                                               e5
               3706                                               e6
               3707                                               e7
               3708                                               e8
               3709                                               e9
               3764                                               e8

                              fields__oSets__oPoints__observations__|__number
Worksheet Name Worksheet Row
Erl            90                                                         5.0
               94                                                         1.0
               96                                                         2.0
               104                                                        5.0
               110                                                        1.0
               118                                                        4.0
               132                                                        2.0
               136                                                        1.0
               145                                                        1.0
               152                                                        1.0
               160                                                        1.0
               166                                                        1.0
               502                                                        2.0
               509                                                        1.0
               544                                                        1.0
               558                                                        2.0
               572                                                        7.0
               586                                                        6.0
               587                                                        3.0
               593                                                        1.0
               600                                                        4.0
               601                                                        2.0
               614                                                       11.0
               621                                                        1.0
               628                                                       20.0
               629                                                        2.0
               642                                                       28.0
               643                                                        2.0
               651                                                        1.0
               656                                                        9.0
...                                                                       ...
Tyler          3589                                                       1.0
               3596                                                      11.0
               3610                                                       1.0
               3624                                                      12.0
               3631                                                       3.0
               3638                                                      13.0
               3646                                                       2.0
               3659                                                       1.0
               3660                                                       1.0
               3661                                                       1.0
               3662                                                       1.0
               3663                                                       1.0
               3664                                                       1.0
               3674                                                       1.0
               3675                                                       1.0
               3677                                                       1.0
               3680                                                       1.0
               3681                                                       1.0
               3687                                                       1.0
               3688                                                       1.0
               3701                                                       1.0
               3702                                                       1.0
               3703                                                       1.0
               3704                                                       1.0
               3705                                                       1.0
               3706                                                       1.0
               3707                                                       1.0
               3708                                                       1.0
               3709                                                       1.0
               3764                                                       2.0

[172 rows x 2 columns]

In corresponding order, the values for each observation count are listed in the sibling column, `observations__|__number`. When missing, the value is to be interpreted as `0`.

All possible values of `|`, which represent the identities of the natural enemies:

In [185]:
natural_enemy_identifiers = list(observations_ext_node[DATA].dropna().unique())
natural_enemy_identifiers

['e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9']

This range of labels and the associated values for each could be transposed into the overall column structure, making a homogeneous observation frame.

###### Natural enemy identifiers:

In [186]:
natural_enemy_names = [
    "C-7 adult",
    "C-7 larva",
    "C-13 adult",
    "C-13 larva",
    "Green lacewing larva",
    "Damsel bug adult",
    "Minute pirate bug adult",
    "Aphid mummy (brown)",
    "Aphid mummy (black)",
]

In [187]:
pandas.DataFrame(data=[natural_enemy_names],
                 columns=natural_enemy_identifiers).T

                          0
e1                C-7 adult
e2                C-7 larva
e3               C-13 adult
e4               C-13 larva
e5     Green lacewing larva
e6         Damsel bug adult
e7  Minute pirate bug adult
e8      Aphid mummy (brown)
e9      Aphid mummy (black)

## Section: `clients`

In [188]:
clients_node = columns['clients']
summarize_node(clients_node)

                     count unique                    top freq
clients__company         1      1              AAFC SRDC    1
clients__displayText     1      1  AAFC SRDC, Tyler Wist    1
clients__fname           1      1                  Tyler    1
clients__lname           1      1                   Wist    1
clients__name            1      1             Tyler Wist    1

### Relationship

Against `fields` and subsections:

- ancillary
- independant

My understanding of this record set is that the app uses it as a source of possible values to offer as options when choosing a client for another record. `fields` seems to have these values copied to it, case by case.

For scientific analysis, these records can be safely ignored, because they will be present elsewhere in a more specific context, if applicable.

### Information

These appear to be calculated records:

- `clients__name`
- `clients__displayText`

Specifically, they are the product of string concatenation from these fields:

- `clients__company`
- `clients__fname`
- `clients__lname`

## Section: `observers`

In [189]:
observers_node = columns['observers']
summarize_node(observers_node)

          count unique    top freq
observers     3      3  Stean    1

### Relationship

Against `oSets` and subsections:

- ancillary
- independant

Values in this record are presented by the app as options for choosing an observer name to copy to `fields__oSets__obsName`, at the time of starting an observation set.

### Information

The field stores arbitrary text. There is no separation of first name and last name.